<!-- wave details start -->
<!-- {{ templateData | json }} -->
<div id="wave-content-id" class="wave__content__main__wrapper">
  <div
    id="wave-main-content"
    *ngIf="templateData"
    [ngClass]="{ 'side-open': edit }"
    class="wave__content__wrapper"
  >
    <!-- breadcrumb -->
    <div class="right-menu">
      <img
        [src]="
          unreadNotifications
            ? 'assets/imgs/bell-active.svg'
            : 'assets/imgs/bell-default.svg'
        "
        alt="notifications"
        style="padding-right: 24px;"
      />
      <ngx-avatar name="Robert Frost" size="24"></ngx-avatar
      ><span class="std-text">Robert</span>
      <img src="assets/imgs/chevron-down.svg" alt="profile-settings" />
    </div>
    <!-- end of breadcrumb -->

    <!-- wave name and desription start -->
    <div class="wave__header">
      <a [routerLink]="['']" class="back-icon"
        ><img src="assets/imgs/back-icon.svg" alt="back"
      /></a>
      <img
        *ngIf="templateData.icon"
        [src]="templateData.icon"
        class="avatar"
        alt="{{ templateData.name }}"
      />
      <div *ngIf="!templateData.icon" style="padding-right: 25px;">
        <ngx-avatar
          class="my-avatar"
          name="{{ templateData.name }}"
          size="72"
        ></ngx-avatar>
      </div>
      <div class="wave__heading">
        <!-- {{ templateData.name }} -->
        <input
          class="description-styles"
          (click)="$event.target.select()"
          (focus)="onFocusTitle()"
          (keydown.enter)="
            $event.preventDefault() && updateTitle(); $event.target.blur()
          "
          (blur)="updateTitle()"
          [(ngModel)]="newTitle ? newTitle : templateData.name"
        />
      </div>

      <div class="wave-description">
        <!-- <div (mouseenter)="templateData.edit = true" *ngIf="!templateData.edit">
          {{ templateData.data.description }}
        </div> -->
        <!-- <textarea class="description-input" [(ngModel)]="templateData.description" (mouseleave)="templateData.edit = false"
                *ngIf="templateData.edit" rows="4"></textarea> -->
        <!-- <input
          class="description-input"
          [(ngModel)]="templateData.data.description"
          (mouseleave)="templateData.edit = false"
          *ngIf="templateData.edit"
        /> -->

        <input
          class="description-styles"
          style="color: var(--grayed-text);"
          (click)="$event.target.select()"
          (focus)="onFocusDescription()"
          (keydown.enter)="
            $event.preventDefault() && updateDescription(); $event.target.blur()
          "
          (blur)="updateDescription()"
          [(ngModel)]="
            newDescription ? newDescription : templateData.data.description
          "
        />
      </div>

      <button
        class="template-dd-btn"
        mat-button
        [matMenuTriggerFor]="templateDropdown"
      >
        <img
          src="assets/imgs/vEllipsis.svg"
          style="position: relative; bottom: 4px;"
          alt="Template Settings"
        />
      </button>
      <mat-menu #templateDropdown="matMenu" xPosition="before">
        <button mat-menu-item (click)="showImportOptions = true">Import</button>
        <button mat-menu-item>Discover</button>
        <button mat-menu-item (click)="showTagOptions = true">Tag</button>
      </mat-menu>
    </div>
    <!-- wave name and desription end -->

    <!-- template subheader -->
    <mat-tab-group id="stage-tab" [@.disabled]="true">
      <mat-tab label="Charts">
        <!-- put chart tab content here -->
      </mat-tab>

      <mat-tab label="Stages">
        <!-- Stages tab content -->
        <div *ngIf="stages" style="height: 7.438em;">
          <div class="badge-container">
            <span class="stage-tags"
              >Tags (
              <span class="stage-tags-blue">Change</span>
              ) :
            </span>
            <span class="badge badge-pill badge-custom">
              <span class="badge-key-value">IP : 192.28.10.11</span>
            </span>
            <span class="badge badge-pill badge-custom">
              <span class="badge-key-value">Web : Front End</span>
            </span>
            <span class="badge badge-pill badge-custom">
              <span class="badge-key-value">Software : Tomcat</span>
            </span>
            <span class="badge badge-pill badge-custom">
              <span class="badge-key-value">Java : Web</span>
            </span>
            <span class="badge badge-pill badge-custom">
              <span class="badge-key-value">+3</span>
            </span>
          </div>

          <div>
            <span class="stage-tags">Workflow Type : </span>
            <mat-form-field id="workflow-select" class="workflow-type-dd">
              <mat-select [(ngModel)]="selectedWorkflowType">
                <mat-option
                  *ngFor="let wType of workflowTypes"
                  [value]="wType.value"
                >
                  {{ wType.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="stage-action-bar">
            <span class="stage-action-collapse-text">Collapse All</span
            ><mat-slide-toggle
              disableRipple="true"
              [color]="primaryColor"
            ></mat-slide-toggle>

            <button
              mat-flat-button
              color="primary"
              style="position: absolute; right: 30em;"
            >
              <span class="new-stage-btn">+ New</span>
            </button>

            <div class="waves__list__filter right-align-searchbox">
              <div>
                <img class="search-icon" src="assets/imgs/search.svg" alt="" />
              </div>
              <div class="waves_list__search">
                <input
                  (keyup)="search($event)"
                  name="test"
                  [(ngModel)]="searchKey"
                  placeholder="Search"
                  class="filter__input"
                  type="text"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="template-container">
          <div class="templates__wrapper">
            <!-- wave templates list start-->
            <app-template-list
              #templateList
              (rowClicked)="openDetails($event)"
              [templateData]="templateData"
            >
            </app-template-list>
            <!-- wave templates list end-->
          </div>
        </div>
        <!-- End of Stages tab content -->
      </mat-tab>
    </mat-tab-group>

    <!-- end of template subheader -->

    <!-- wave groups end -->
  </div>
  <!-- template details resizable start -->
  <section
    tabindex="-1"
    id="template-holder"
    (mouseenter)="showBackdrop = true"
    (mouseleave)="showBackdrop = false"
    *ngIf="templateData && edit"
    class="side-bar resizable"
    mwlResizable
    [enableGhostResize]="true"
    [resizeEdges]="{ bottom: false, right: false, top: false, left: true }"
    (resizeEnd)="onResizeEnd($event)"
  >
    <div (click)="openDetails(false)" class="close-template">x</div>
    <div>
      Template
    </div>
  </section>
  <div [ngClass]="{ show: showBackdrop }" class="modal-backdrop"></div>
  <!-- template details resizable start -->
</div>

<!-- import options start -->
<div *ngIf="showImportOptions" class="import-options">
  <header>
    <a
      (click)="showImportOptions = false; importStatus = false"
      style="cursor: pointer; position: absolute; left: 24px;"
    >
      <img src="assets/imgs/close-circle.svg" alt="Close" />
    </a>
    Template Import
  </header>
  <mat-divider></mat-divider>
  <div class="waves__list__filter" style="margin: 24px 0 24px 0;">
    <div>
      <img class="search-icon" src="assets/imgs/search.svg" alt="" />
    </div>
    <div class="waves_list__search">
      <input
        (keyup)="search($event)"
        name="test"
        [(ngModel)]="searchKey"
        placeholder="Search"
        class="filter__input"
        type="text"
      />
    </div>
  </div>
  <!-- template cards -->
  <mat-card
    *ngIf="!importStatus"
    class="mat-elevation-z0"
    style="margin-bottom: 24px;"
  >
    <mat-card-content (click)="importStatus = true">
      <mat-checkbox>
        <div class="checkbox-label-with-icon">
          <ngx-avatar name="Tomcat"></ngx-avatar>
          <span class="import-list-template-name">Tomcat</span>
          <span class="import-list-template-description"
            >Installation Configuration</span
          >
        </div>
      </mat-checkbox>
      <div>
        <span class="tag-text">Tags (Key : Value)</span>
      </div>
      <div class="badge-container" style="margin-left: 1em;">
        <span class="badge badge-pill badge-custom">
          <span
            ><span class="badge-key-value">IP :</span
            ><span class="badge-key-value">&nbsp;192.28.10.11</span></span
          >
        </span>
        <span class="badge badge-pill badge-custom">
          <span
            ><span class="badge-key-value">Web :</span
            ><span class="badge-key-value">&nbsp;End</span></span
          >
        </span>
        <span class="badge badge-pill badge-custom">
          <span class="badge-key-value">+1</span></span
        >
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card
    *ngIf="!importStatus"
    class="mat-elevation-z0"
    style="margin-bottom: 24px;"
  >
    <mat-card-content (click)="importStatus = true">
      <mat-checkbox>
        <div class="checkbox-label-with-icon">
          <ngx-avatar name="Apache"></ngx-avatar>
          <span class="import-list-template-name">Apache</span>
          <span class="import-list-template-description"
            >Installation Configuration</span
          >
        </div>
      </mat-checkbox>
      <div>
        <span class="tag-text">Tags (Key : Value)</span>
      </div>
      <div class="badge-container" style="margin-left: 1em;">
        <span class="badge badge-pill badge-custom">
          <span
            ><span class="badge-key-value">IP :</span
            ><span class="badge-key-value">&nbsp;192.28.10.11</span></span
          >
        </span>
        <span class="badge badge-pill badge-custom">
          <span
            ><span class="badge-key-value">Web :</span
            ><span class="badge-key-value">&nbsp;End</span></span
          >
        </span>
        <span class="badge badge-pill badge-custom">
          <span class="badge-key-value">+1</span></span
        >
      </div>
    </mat-card-content>
  </mat-card>
  <div class="modal-footer" style="position: relative; top: 22vh;">
    <div style="position: absolute; left: 0; top: 0.9em;">
      <button
        mat-flat-button
        color="primary"
        (click)="showImportOptions = false; importStatus = false"
        cdkFocusInitial
      >
        Import
      </button>
      <button
        mat-button
        color="primary"
        (click)="showImportOptions = false; importStatus = false"
        style="margin-left: 1em;"
      >
        Cancel
      </button>
    </div>
  </div>

  <div *ngIf="importStatus" class="import-final">
    <mat-card class="mat-elevation-z0">
      <div style="height: 2.25em;">
        <span class="import-list-template-name">Tomcat</span>
        <div class="action-icons">
          <img style="padding-right: 1em;" src="assets/imgs/chevron-up.svg" />
          <img src="assets/imgs/delete.svg" />
        </div>
      </div>
      <mat-divider></mat-divider>
      <div style="margin-left: -28px;">
        <div>
          <span class="tag-text">Tags (Key : Value)</span>
        </div>
        <div class="badge-container">
          <span class="badge badge-pill badge-custom">
            <span
              ><span class="badge-key-value">IP :</span
              ><span class="badge-key-value">&nbsp;192.28.10.11</span></span
            >
          </span>
          <span class="badge badge-pill badge-custom">
            <span
              ><span class="badge-key-value">Web :</span
              ><span class="badge-key-value">&nbsp;End</span></span
            >
          </span>
          <span class="badge badge-pill badge-custom">
            <span
              ><span class="badge-key-value">Java :</span
              ><span class="badge-key-value">&nbsp;Web</span></span
            >
          </span>
        </div>
      </div>
    </mat-card>
    <mat-card class="mat-elevation-z0" style="margin: 24px 0 24px 0;">
      <div style="height: 2.25em;">
        <span class="import-list-template-name">Apache</span>
        <div class="action-icons">
          <img style="padding-right: 1em;" src="assets/imgs/chevron-up.svg" />
          <img src="assets/imgs/delete.svg" />
        </div>
      </div>
      <mat-divider></mat-divider>
      <div style="margin-left: -28px;">
        <div>
          <span class="tag-text">Tags (Key : Value)</span>
        </div>
        <div class="badge-container">
          <span class="badge badge-pill badge-custom">
            <span
              ><span class="badge-key-value">IP :</span
              ><span class="badge-key-value">&nbsp;192.28.10.11</span></span
            >
          </span>
          <span class="badge badge-pill badge-custom">
            <span
              ><span class="badge-key-value">Web :</span
              ><span class="badge-key-value">&nbsp;End</span></span
            >
          </span>
          <span class="badge badge-pill badge-custom">
            <span
              ><span class="badge-key-value">Java :</span
              ><span class="badge-key-value">&nbsp;Web</span></span
            >
          </span>
        </div>
      </div>
    </mat-card>
    <div class="modal-footer">
      <button
        mat-flat-button
        (click)="showImportOptions = false; importStatus = false"
      >
        Cancel
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="showImportOptions = false; importStatus = false"
        cdkFocusInitial
      >
        Import
      </button>
    </div>
  </div>
  <!-- end of template cards -->
</div>
<!-- end of import options -->

<!-- tag options start -->
<!-- end of tag options -->
