<div id="wave-content-id" class="wave__content__main__wrapper">
  <div id="wave-main-content" *ngIf="templateData" [ngClass]="{ 'side-open': edit }" class="wave__content__wrapper">
    <!-- wave name and desription start -->
    <div class="wave__header">
      <div (click)="goBack()" (mouseover)="imgHovered = true" (mouseleave)="imgHovered = false"
        class="back-icon pointer-cursor" [ngClass]="{ 'back-not-hover': !imgHovered }">
        <img [src]="
            imgHovered
              ? 'assets/imgs/back-icon.svg'
              : 'assets/imgs/chevron-down.svg'
          " alt="back" />
      </div>
      <div class="ngx-template-header-avatar">
        <button class="avatar-dd-btn no-hover-effect" mat-button [matMenuTriggerFor]="avatarDropdown"
          (mouseover)="templateImgHover = true" (mouseleave)="templateImgHover = false">
          <ngx-avatar *ngIf="templateData?.image; else initialsAvatar" [src]="templateData?.image"
            class="my-avatar flex-center" name="{{ templateData.name }}" initialsSize="2" [size]="isMobile ? 40 : 56">
          </ngx-avatar>
          <ng-template #initialsAvatar>
            <ngx-avatar name="{{ templateData.name }}" initialsSize="2" [size]="isMobile ? 40 : 56"></ngx-avatar>
          </ng-template>
          <img *ngIf="templateImgHover" class="edit-avatar-img" src="assets/imgs/edit-img-2.svg" alt="edit" />
        </button>
        <mat-menu #avatarDropdown="matMenu">
          <button mat-menu-item>
            <label for="templateAvatarFile" class="avatar-upload-option pointer-cursor">Upload
              <input id="templateAvatarFile" type="file" (change)="changeAvatar($event)" />
            </label>
          </button>
          <button mat-menu-item (click)="removeAvatar()">
            Remove
          </button>
        </mat-menu>
      </div>
      <div class="wave__heading">
        <input class="description-styles template-title-font" (click)="$event.target.select()" (focus)="onFocusTitle()"
          (keydown.enter)="
            $event.preventDefault() && updateTitle(); $event.target.blur()
          " (blur)="updateTitle()" [(ngModel)]="newTitle ? newTitle : templateData.name" />
      </div>

      <div class="wave-description">
        <input class="description-styles template-desc-font gray-text" (click)="$event.target.select()"
          (focus)="onFocusDescription()" (keydown.enter)="
            $event.preventDefault() && updateDescription(); $event.target.blur()
          " (blur)="updateDescription()" [(ngModel)]="newDescription ? newDescription : templateData.desc" />
      </div>

      <a (click)="favourite = !favourite">
        <img class="fav-icon" [src]="
            favourite
              ? 'assets/imgs/favourite.svg'
              : 'assets/imgs/unfavourite.svg'
          " alt="mark-as-favourite" />
      </a>

      <button class="template-dd-btn" mat-button [matMenuTriggerFor]="templateDropdown">
        <img src="assets/imgs/vEllipsis.svg" class="relative-bottom-4" alt="Template Settings" />
      </button>
      <mat-menu id="import-menu" #templateDropdown="matMenu" xPosition="before" yPosition="below">
        <button mat-menu-item (click)="showImportOptions = true">
          Import
        </button>
        <button mat-menu-item (click)="goToDiscover()">Discover</button>
        <button mat-menu-item (click)="showTagOptions = true">Tag</button>
      </mat-menu>
    </div>
    <!-- wave name and desription end -->

    <!-- template subheader -->
    <mat-tab-group id="stage-tab" [(selectedIndex)]="selectedTabIndex">
      <mat-tab label="Charts">
        <!-- put chart tab content here -->
      </mat-tab>

      <mat-tab label="Stages">
        <!-- Stages tab content -->
        <div class="stages-height">
          <div class="badge-container">
            <span class="stage-tags">Tags (
              <a (click)="showTagOptions = true" class="pointer-cursor">
                <span class="stage-tags-blue">Change</span>
              </a>
              )<span class="align-tags-colon">:</span>
            </span>
            <span class="badge badge-pill badge-custom" [ngStyle]="{ 'margin-left': isMobile ? '0' : '1em' }">
              <span *ngIf="isMobile" class="badge-key-value">{{ templateData?.tags[0]?.name }} :
                {{ templateData?.tags[0]?.value }}</span>
            </span>
            <span *ngIf="isMobile" class="badge badge-pill badge-custom">
              <span *ngIf="templateData.tags.length > 1"
                class="badge-key-value">+{{ templateData?.tags?.length - 1 }}</span>
            </span>
            <div *ngIf="!isMobile">
              <span class="badge badge-pill badge-custom" *ngFor="let tag of templateData.tags">
                <span class="badge-key-value">{{ tag.name }} : {{ tag.value }}</span>
              </span>
            </div>
          </div>

          <div class="stage-action-bar">
            <button mat-flat-button color="primary" class="new-stage-btn" (click)="addStage()">
              <span class="new-stage-btn-text">+ New</span>
            </button>
          </div>
        </div>

        <div class="template-container">
          <div class="templates__wrapper">
            <!-- wave templates list start-->
            <app-template-list #templateList (rowClicked)="openTaskDetails($event)"
              (updateGroupInfo)="updateGroupInfo($event)" [templateData]="templateData">
            </app-template-list>
            <!-- wave templates list end-->
          </div>
        </div>
        <!-- End of Stages tab content -->
      </mat-tab>
    </mat-tab-group>

    <!-- end of template subheader -->

    <!-- wave groups end -->
  </div>

  <!-- import options start -->
  <div *ngIf="showImportOptions" id="resizable-holder" class="import-options resizable" mwlResizable
    [enableGhostResize]="true" [resizeEdges]="{ bottom: false, right: false, top: false, left: true }"
    (resizeEnd)="onResizeEnd($event)">
    <div *ngIf="!importStatus">
      <header>
        <a (click)="showImportOptions = false; importStatus = false" class="pointer-cursor left-24-top-1em">
          <img src="assets/imgs/close-circle.svg" alt="Close" />
        </a>
        Template Import
      </header>
      <mat-divider></mat-divider>
      <div class="sidebar-search top-margin-1em">
        <form>
          <mat-form-field id="mat-search" floatLabel="never" class="mat-typography full-width">
            <img matPrefix src="assets/imgs/search-2.svg" alt="search-icon" class="new-search-icon" />
            <input matInput placeholder="Search" type="search" name="test" [(ngModel)]="searchKey" />
          </mat-form-field>
        </form>
      </div>

      <!-- template cards -->
      <div class="import-list-scroll-control">
        <mat-card class="mat-elevation-z0 bottom-margin-1em"
          *ngFor="let template of templatesToImport | search: searchKey">
          <mat-card-content>
            <mat-checkbox (click)="onCheck($event, template)" class="relative-top-14">
            </mat-checkbox>
            <div class="checkbox-label-with-icon">
              <ngx-avatar name="{{ template.name }}" initialsSize="2" class="import-avatar"></ngx-avatar>
              <span class="import-list-template-name">{{ template.name }}</span>
              <span class="import-list-template-description">{{
                template.desc
              }}</span>
            </div>

            <div class="sidebar-tag-text">
              <span class="tag-text">Tags (Key : Value)</span>
            </div>
            <div class="sidebar-badge-container">
              <span class="badge badge-pill badge-custom">
                <span *ngFor="let tag of template.tags"><span class="badge-key-value">{{ tag.name }} :</span><span
                    class="badge-key-value">&nbsp;{{ tag.value }}</span></span>
              </span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div [ngClass]="{
          'modal-footer-mobile': isMobile,
          'modal-footer': !isMobile
        }" class="footer-styles-1">
        <div class="import-btns-1">
          <button mat-flat-button color="primary" (click)="
              showImportOptions = false; importStatus = false; importTemplates()
            " cdkFocusInitial>
            Import
          </button>
          <button mat-button color="primary" (click)="showImportOptions = false; importStatus = false"
            class="left-margin-1em">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end of import options -->

  <!-- tag options start -->
  <div *ngIf="showTagOptions" id="resizable-holder" class="import-options resizable" mwlResizable
    [enableGhostResize]="true" [resizeEdges]="{ bottom: false, right: false, top: false, left: true }"
    (resizeEnd)="onResizeEnd($event)">
    <header>
      <a (click)="showTagOptions = false" class="pointer-cursor left-24-top-1em">
        <img src="assets/imgs/close-circle.svg" alt="Close" />
      </a>
      Edit Tags
    </header>
    <mat-divider></mat-divider>
    <!-- tag edit body -->
    <app-edit-tag [tags]="templateData?.tags" (newTags)="updateTags($event)"></app-edit-tag>
    <!-- end of tag edit body -->
    <div [ngClass]="{ 'modal-footer-mobile': isMobile, 'modal-footer': !isMobile }" class="edit-tag-footer-btns">
      <div class="import-btns-1">
        <button [disabled]="isTagsFormValid" mat-flat-button color="primary" (click)="showTagOptions = false; saveTags()"
          cdkFocusInitial>
          Save
        </button>
        <button mat-button color="primary" (click)="showTagOptions = false" class="left-margin-1em">
          Cancel
        </button>
      </div>
    </div>
  </div>
  <!-- end of tag options -->

  <!-- task options start -->
  <div *ngIf="showTaskOptions" id="resizable-holder" class="import-options resizable" mwlResizable
    [enableGhostResize]="true" [resizeEdges]="{ bottom: false, right: false, top: false, left: true }"
    (resizeEnd)="onResizeEnd($event)">
    <div class="import-final">
      <header class="task-header-tag">
        <a (click)="showTaskOptions = false" class="import-final-close">
          <img src="assets/imgs/close-circle.svg" alt="Close" />
        </a>
        <div class="task-header">
          <button class="avatar-dd-btn-task no-hover-effect" mat-button [matMenuTriggerFor]="avatarDropdown"
            (mouseover)="taskImgHover = true" (mouseleave)="taskImgHover = false">
            <!-- <ngx-avatar
            *ngIf="selectedTask.taskImage!= ''"
            [src]="selectedTask.taskImage"
            class="lalign-import-template-icon"
            name="{{ selectedTask.name }}"
            initialsSize="2"
            [size]="isMobile ? 40 : 56"
          ></ngx-avatar> -->
            <ngx-avatar *ngIf="selectedTask?.image; else initialsTaskAvatar" [src]="selectedTask?.image"
              class="lalign-import-template-icon" name="{{ selectedTask.name }}" initialsSize="2"
              [size]="isMobile ? 40 : 56"></ngx-avatar>
            <ng-template #initialsTaskAvatar>
              <ngx-avatar name="{{ selectedTask.name }}" initialsSize="2" [size]="isMobile ? 40 : 56"
                class="lalign-import-template-icon"></ngx-avatar>
            </ng-template>

            <img *ngIf="taskImgHover" class="edit-avatar-img" src="assets/imgs/edit-img-2.svg" alt="edit" />
          </button>
          <mat-menu #avatarDropdown="matMenu">
            <button mat-menu-item>
              <label for="taskAvatarFile" class="avatar-upload-option pointer-cursor">Upload
                <input id="taskAvatarFile" type="file" (change)="changeTaskAvatar($event)" />
              </label>
            </button>
            <button mat-menu-item (click)="removeTaskAvatar(selectedTask)">
              Remove
            </button>
          </mat-menu>

          <div class="relative-top-5">
            <!-- <div> -->
            <div class="task-name">
              <input class="descriptiontask-styles" (click)="$event.target.select()" (focus)="onFocusTitle()"
                (keydown.enter)="updateTaskTitle(selectedTask)"
                 [(ngModel)]="selectedTask.name" />
              <div class="text-danger" *ngIf="isEventNameUnique">Please enter unique task name</div>
            </div>
            <div class="task-description">
              <input class="descriptiontask-styles gray-text" (click)="$event.target.select()"
                (focus)="onFocusDescription()" (keydown.enter)="updateTaskDescription(selectedTask)"
                [(ngModel)]="selectedTask.description" />
            </div>
          </div>
        </div>
      </header>
      <mat-divider></mat-divider>

      <app-add-task-modal-content [task]="selectedTask" 
      (onSaveConfig)="onSaveConfig($event)"  
      (onSaveGeneralConfig)="onSaveGeneralConfig($event)" 
      (onSaveTemplateFormat)="onSaveTemplateFormat($event)"
      (onClose)="onClose($event)"
      ></app-add-task-modal-content>
    </div>
  </div>
  <!-- end of task options -->
</div>