<div>
  <span class="stage-tags"
    >Workflow Type<span class="align-workflow-colon">:</span></span
  >
  <mat-form-field id="workflow-select-field" class="workflow-type-dd">
    <mat-select
      [(ngModel)]="selectedWorkflowType"
      (ngModelChange)="getWorkflowType()"
    >
      <mat-option
        id="wf-option"
        *ngFor="let wType of workflowTypes"
        [value]="wType.value"
        (click)="optionClicked(wType.value)"
      >
        {{ wType.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="collapse-container">
  <span class="stage-action-collapse-text">Collapse All</span
  ><mat-slide-toggle
    (change)="collapseAll($event.checked)"
    [color]="primaryColor"
  ></mat-slide-toggle>
</div>

<div class="right-align-searchbox">
  <form>
    <mat-form-field
      id="mat-search"
      floatLabel="never"
      class="mat-typography full-width"
    >
      <img
        matPrefix
        src="assets/imgs/search-2.svg"
        alt="search-icon"
        class="new-search-icon"
      />
      <input
        matInput
        placeholder="Search"
        type="search"
        name="test"
        [(ngModel)]="searchKey"
      />
    </mat-form-field>
  </form>
</div>
<div class="drag-drop-parent">
  <div
    cdkDropList
    [cdkDropListData]="templateData.groups"
    (cdkDropListDropped)="dropGroup($event)"
  >
    <div
      class="templates__inner__wrapper"
      *ngFor="
        let group of templateData.groups | nestedTemplateSearch: searchKey;
        let i = index
      "
      cdkDropListGroup
      cdkDrag
      [cdkDragData]="group"
    >
      <!-- template list strats -->
      <div class="template-list-wrapper" #loadedStage>
        <div>
          <div
            id="stage-header"
            class="template__row"
            [ngStyle]="toggleTemplateHeight(groupCollapseList[i])"
          >
            <div class="template-name">
              <div
                class="group-drag"
                [ngClass]="{
                  'do-not-show': !drag,
                  collapsed: groupCollapseList[i]
                }"
              >
                <img
                  class="move-cursor"
                  src="assets/imgs/dragIcon-2.svg"
                  alt=""
                />
              </div>
              <div
                [ngClass]="{ collapsed: groupCollapseList[i] }"
                class="accordian"
              >
                <img
                  [ngClass]="{
                    'accordian-icon-collapsed': groupCollapseList[i],
                    'accordian-icon': !groupCollapseList[i]
                  }"
                  src="assets/imgs/chevron-down.svg"
                  alt=""
                  (click)="groupCollapseList[i] = !groupCollapseList[i]"
                />
              </div>
              <!-- group level actions ends -->
              <div
                [ngClass]="{
                  'group-name-wrapper-collapsed': groupCollapseList[i],
                  'group-name-wrapper': !groupCollapseList[i]
                }"
              >
                <div class="group-name common-text">
                  <input
                    class="description-styles"
                    (click)="$event.target.select()"
                    (focus)="onFocusTitle()"
                    (keydown.enter)="
                      $event.preventDefault() && updateGroupTitle(group); $event.target.blur()
                    "
                    (blur)="updateGroupTitle(group)"
                    [(ngModel)]="newGroupTitle ? newGroupTitle : group.name"
                  />
                </div>
              </div>
            </div>
            <div
              [ngClass]="{
                'list-right-menu-collapsed': groupCollapseList[i],
                'list-right-menu': !groupCollapseList[i]
              }"
            >
              <div
                *ngIf="!(isMobile && groupCollapseList[i])"
                class="flex-padding-r-2"
                [ngClass]="{
                  'flex-padding-r-4': isMobile && !groupCollapseList[i],
                  'status-margin-collapsed': !statusCodes[group.statusCode]
                }"
              >
                <span class="status-text">Status: </span>
                <span
                  class="badge badge-pill badge-custom"
                  [ngStyle]="setBadgeBgColor(group.statusCode)"
                  >{{ statusCodes[group.statusCode] }}</span
                >
              </div>
              <div
                *ngIf="!(isMobile && groupCollapseList[i])"
                class="flex-padding-r-2"
                [ngClass]="{
                  'flex-padding-r-4': isMobile && !groupCollapseList[i]
                }"
              >
                <span class="status-text">Progress: </span>
                <mat-progress-bar
                  class="list-progress-bar"
                  value="{{ group.progress }}"
                ></mat-progress-bar>
                <span
                  [ngClass]="{
                    'medium-text-mobile': isMobile,
                    'medium-text': !isMobile
                  }"
                  class="list-percent-text"
                  >{{ group.progress }} %</span
                >
              </div>
            </div>
            <button mat-button [matMenuTriggerFor]="stageDropdownHighLevel">
              <img
              [ngClass]="{
                'stage-option-collapsed': groupCollapseList[i],
                'stage-option': !groupCollapseList[i]
              }"
              src="assets/imgs/vEllipsis.svg"
              alt="stage-options"
              />
            </button>
            <mat-menu
              #stageDropdownHighLevel="matMenu"
            >
              <div>
                <button mat-menu-item (click)="deleteGroup(group)">
                  <img
                  class="icon-usersettings"
                src="assets/imgs/delete.svg"
                alt=""
              />
                  <span>Delete</span>
                </button>
              </div>
            </mat-menu>

            <div *ngIf="!groupCollapseList[i]" class="stage-list-subheader">
              <div class="stage-name-width">
                <span
                  [ngClass]="{
                    'medium-text-mobile': isMobile,
                    'medium-text': !isMobile
                  }"
                  class="list-header-text pos-name"
                  >Name</span
                >

                <div class="flex-lay right-headers" *ngIf="!isMobile">
                  <div class="cell-width">
                    <span class="medium-text list-header-text">Plugin</span>
                  </div>
                  <div class="cell-width" *ngIf="getWorkflowType() === 'time'">
                    <span class="medium-text list-header-text">Start Date</span>
                  </div>
                  <div class="cell-width" *ngIf="getWorkflowType() === 'time'">
                    <span class="medium-text list-header-text">End Date</span>
                  </div>
                  <div
                    class="cell-width"
                    *ngIf="getWorkflowType() === 'trigger'"
                  >
                    <span class="medium-text list-header-text">Trigger</span>
                  </div>
                  <div class="cell-width" *ngIf="showService">
                    <span class="medium-text list-header-text">Service</span>
                  </div>
                  <div class="cell-width" *ngIf="showAction">
                    <span class="medium-text list-header-text">Action</span>
                  </div>
                  <div class="cell-width">
                    <span class="medium-text list-header-text">Status</span>
                  </div>
                  <div class="cell-width">
                    <span class="medium-text list-header-text">Progress</span>
                  </div>
                </div>
              </div>

              <button
                class="stage-btn"
                mat-button
                [matMenuTriggerFor]="stageDropdown"
              >
                <img src="assets/imgs/vEllipsis.svg" alt="Stage Settings" />
              </button>
              <mat-menu
                id="stage-dd"
                #stageDropdown="matMenu"
                xPosition="before"
                yPosition="below"
              >
                <div class="service-menu">
                  <mat-checkbox (click)="onCheck($event, 'service')"
                    >Service</mat-checkbox
                  >
                  <mat-checkbox (click)="onCheck($event, 'action')"
                    >Action</mat-checkbox
                  >
                </div>
              </mat-menu>
            </div>
          </div>
          <!-- cdkdroplist for template re ordering among and across groups -->
          <div
            *ngIf="!groupCollapseList[i] && templateData.groups"
            cdkDropList
            id="{{ group.id }}"
            [cdkDropListData]="group.items"
            (cdkDropListDropped)="dropTask($event)"
            [cdkDropListConnectedTo]="getConnectedList()"
          >
            <div
              class="row-items template__row item"
              [ngClass]="{ selected: group.selected }"
              *ngFor="let task of group.items"
              cdkDrag
            >
              <div class="template-name">
                <div class="border-white template-name-main">
                  <img
                    *ngIf="task.type; else avatar"
                    [src]="
                      task.type == 'folder'
                        ? 'assets/imgs/folder.svg'
                        : 'assets/imgs/file.svg'
                    "
                    class="right-padding-half-rem"
                  />
                  <ng-template #avatar>
                    <div class="right-padding-half-rem">
                      <ngx-avatar
                        *ngIf="taskAvatarUrl; else initialsAvatar"
                        [src]="taskAvatarUrl"
                        class="flex-center"
                        name="{{ templateData.name }}"
                        initialsSize="2"
                        [size]="18"
                      >
                      </ngx-avatar>
                      <ng-template #initialsAvatar>
                        <ngx-avatar
                          name="{{ task.name }}"
                          initialsSize="2"
                          [size]="20"
                        ></ngx-avatar>
                      </ng-template>
                    </div>
                  </ng-template>

                  <span
                    [ngClass]="{
                      'mobile-text': isMobile,
                      'common-text': !isMobile
                    }"
                    class="cell-text handle-text-overflow" matTooltip="{{task.name}}" (click)="loadTask(task, group)"
                    >{{ task.name }}</span
                  >
                </div>
              </div>
              <div class="flex-lay right-cols">
                <div *ngIf="!isMobile" class="flex-center plugin-val">
                  <span class="cell-text common-text">{{
                    task.pluginName
                  }}</span>
                </div>
                <div *ngIf="!isMobile">
                  <div
                    *ngIf="getWorkflowType() === 'time'"
                    class="border-white template-start flex-center"
                  >
                    <span class="cell-text common-text">{{
                      task.startDate
                    }}</span>
                  </div>
                </div>
                <div *ngIf="!isMobile">
                  <div
                    *ngIf="getWorkflowType() === 'time'"
                    class="border-white template-end flex-center"
                  >
                    <span class="cell-text common-text">{{
                      task.endDate
                    }}</span>
                  </div>
                </div>
                <div *ngIf="!isMobile">
                  <div
                    *ngIf="getWorkflowType() === 'trigger'"
                    class="border-white template-end flex-center"
                  >
                    <span class="cell-text common-text">{{
                      task.actionName
                    }}</span>
                  </div>
                </div>
                <div *ngIf="!isMobile">
                  <div
                    *ngIf="showService"
                    class="border-white template-end flex-center"
                  >
                    <span class="cell-text common-text">{{
                      task.serviceName
                    }}</span>
                  </div>
                </div>
                <div *ngIf="!isMobile">
                  <div
                    *ngIf="showAction"
                    class="border-white template-end flex-center"
                  >
                    <span class="cell-text common-text">{{
                      task.actionName
                    }}</span>
                  </div>
                </div>
                <div
                  *ngIf="!isMobile"
                  class="border-white template-status"
                  [ngClass]="getStatusClass(task)"
                  (mouseleave)="task.showStatus = false"
                  (click)="showStatuses($event, task)"
                >
                  <span
                    class="badge badge-pill badge-custom"
                    [ngStyle]="setBadgeBgColor(task.statusCode)"
                    >{{ statusCodes[task.statusCode] }}</span
                  >
                  <!-- template status start -->
                  <div class="status-dropdown">
                    <div
                      (click)="changeStatus(task, 'Working on it')"
                      class="status__list__item status-yellow"
                    >
                      Working on it
                    </div>
                    <div
                      (click)="changeStatus(task, 'Done')"
                      class="status__list__item status-green"
                    >
                      Done
                    </div>
                    <div
                      (click)="changeStatus(task, 'Stuck')"
                      class="status__list__item status-red"
                    >
                      Stuck
                    </div>
                    <div
                      (click)="changeStatus(task, '')"
                      class="status__list__item"
                    ></div>
                  </div>
                  <!-- template status end -->
                </div>
                <div *ngIf="!isMobile" class="flex-center left-margin-1vw">
                  <mat-progress-bar
                    class="list-item-progress-bar"
                    value="{{ task.progress }}"
                  ></mat-progress-bar>
                  <span class="list-percent-text">{{ task.progress }} %</span>
                </div>
                <div class="right-options">
                  <a (click)="deleteTask(group, task)">
                    <img
                      class="set-margin-right"
                      src="assets/imgs/delete.svg"
                      alt="delete"
                    />
                  </a>
                  <a (click)="taskSettings(group, task.id, $event)">
                    <img src="assets/imgs/vEllipsis.svg" alt="settings" />
                  </a>
                </div>
              </div>
            </div>
            <div class="template__row item row-items">
              <!-- add new template start -->
              <div class="template-name">
                <span class="common-text add-new-text" (click)="loadTask(null, group)"
                  >+ Add New Task</span
                >
              </div>
              <!-- add new template end -->
            </div>
          </div>
        </div>
      </div>

      <!-- template list ends -->
    </div>
  </div>
</div>
