<div class="drag-drop-parent">
  <div
    cdkDropList
    [cdkDropListData]="stages"
    (cdkDropListDropped)="dropGroup($event)"
  >
    <!-- <div
      class="templates__inner__wrapper"
      *ngFor="let stage of stages | search: stage.searchKey; let i = index"
      cdkDropListGroup
      cdkDrag
      [cdkDragData]="stage"
    > -->
    <div
      class="templates__inner__wrapper"
      *ngFor="let stage of stages; let i = index"
      cdkDropListGroup
      cdkDrag
      [cdkDragData]="stage"
    >
      <!-- template list strats -->
      <div class="template-list-wrapper">
        <div>
          <div class="template__row">
            <div class="template-name">
              <div
                class="group-drag"
                [ngClass]="{ 'do-not-show': !stage.drag }"
              >
                <img src="assets/imgs/dragIcon.svg" alt="" />
              </div>
              <div
                [ngClass]="{ collapsed: stage.collapsed }"
                (click)="openGroupLevelActions(stage)"
                class="accordian"
              >
                <img
                  style="width: 24px; height: 24px;"
                  src="assets/imgs/chevron-down.svg"
                  alt=""
                />
                <div class="group-level-actions">
                  <div
                    (click)="stage.collapsed = true"
                    *ngIf="!stage.collapsed"
                  >
                    Collapse
                  </div>
                  <div
                    (click)="stage.collapsed = false"
                    *ngIf="stage.collapsed"
                  >
                    Expand
                  </div>
                  <div (click)="deleteGroup(stage)">Delete</div>
                </div>
              </div>
              <!-- group level actions ends -->

              <div
                class="group-name-wrapper"
                (mouseenter)="groupNameEnter(stage)"
                (mouseleave)="stage.edit = false"
              >
                <div class="group-name">
                  {{ stage.name }}
                </div>
              </div>
            </div>
            <div *ngIf="!stage.collapsed" class="template-status">
              <span>Status: </span>
            </div>
            <div *ngIf="!stage.collapsed" class="template-status">
              <span class="col-header">Status</span>
            </div>
            <div *ngIf="!stage.collapsed" class="template-start">
              <span class="col-header">Start Date</span>
            </div>
            <div *ngIf="!stage.collapsed" class="template-end">
              <span class="col-header">End Date</span>
            </div>
          </div>
          <!-- cdkdroplist for template re ordering among and across groups -->
          <div
            *ngIf="!stage.collapsed"
            cdkDropList
            id="{{ stage.id }}"
            [cdkDropListData]="stages"
            (cdkDropListDropped)="drop($event)"
            [cdkDropListConnectedTo]="getConnectedList()"
          >
            <div
              class="template__row item"
              [ngClass]="{ selected: stage.selected }"
              (click)="rowClick(task)"
              *ngFor="let task of tasks"
              cdkDrag
            >
              <div class="template-name">
                <!-- template level actions starts -->
                <div class="row-starter">
                  <div (click)="$event.stopPropagation()" class="accordian">
                    <img src="assets/imgs/chevron-down.svg" alt="" />
                    <div class="group-level-actions">
                      <div (click)="deleteTemplate(stage, task)">
                        Delete
                      </div>
                    </div>
                  </div>
                </div>
                <!-- template level actions starts -->

                <div class="grid-start-line border-white"></div>
                <div class="border-white template-name-main">
                  <span class="cell-text">{{ task.name }}</span>
                </div>
              </div>
              <div
                class="border-white template-status"
                [ngClass]="getStatusClass(task)"
                (mouseleave)="task.showStatus = false"
                (click)="showStatuses($event, task)"
              >
                <span
                  class="cell-text"
                  style="color: #fff; text-transform: capitalize;"
                  >{{ task.status }}</span
                >
                <!-- template status start -->
                <div class="status-dropdown">
                  <div
                    (click)="changeStatus(task, 'Working on it')"
                    class="status__list__item status-yellow"
                  >
                    Working on it
                  </div>
                  <div
                    (click)="changeStatus(task, 'Done')"
                    class="status__list__item status-green"
                  >
                    Done
                  </div>
                  <div
                    (click)="changeStatus(task, 'Stuck')"
                    class="status__list__item status-red"
                  >
                    Stuck
                  </div>
                  <div
                    (click)="changeStatus(task, '')"
                    class="status__list__item"
                  ></div>
                </div>
                <!-- template status end -->
              </div>
              <div class="border-white template-start">
                <span class="cell-text">{{ task.startDate }}</span>
              </div>
              <div class="border-white template-end">
                <span class="cell-text">{{ task.endDate }}</span>
              </div>
            </div>
            <div class="template__row item editor-row">
              <!-- add new template strat -->
              <div class="template-name">
                <div class="row-starter"></div>
                <div class="grid-start-line border-white"></div>
                <div class="border-white template-name-main">
                  <!-- <input
                    (focus)="stage.showAdd = true"
                    (focusout)="inputFocusOut($event, stage)"
                    class="template-add"
                    (keydown.enter)="addTemplate(stage)"
                    [(ngModel)]="stage.newTemplate"
                    type="text"
                    placeholder="+ Add"
                  /> -->
                  <input
                    (focus)="stage.showAdd = true"
                    (focusout)="inputFocusOut($event, stage)"
                    class="template-add"
                    (keydown.enter)="openDialog(addTaskModal)"
                    [(ngModel)]="stage.newTemplate"
                    type="text"
                    placeholder="+ Add"
                  />
                </div>
                <!-- <div
                  *ngIf="stage.showAdd"
                  (click)="addTemplate(stage)"
                  class="template-add-button"
                >
                  Add
                </div> -->
                <div
                  *ngIf="stage.showAdd"
                  (click)="openDialog(addTaskModal)"
                  class="template-add-button"
                >
                  Add
                </div>
              </div>
              <!-- add new template end -->
            </div>
          </div>
        </div>
      </div>

      <!-- template list ends -->
    </div>
  </div>
</div>

<ng-template #addTaskModal>
  <div class="modal-header">
    <h4 class="pull-left">Create New Task</h4>
  </div>
  <div class="modal-body">
    <!-- modal body -->
    <mat-tab-group [@.disabled]="true">
      <mat-tab label="General">
        <form [formGroup]="firstFormGroup">
          <mat-form-field class="example-full-width" style="margin-top: 24px;">
            <mat-label>Task Name</mat-label>
            <input
              matInput
              placeholder="Enter task name"
              value="Create Instance"
            />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <input
              matInput
              placeholder="Enter task description"
              value="Installation Configuration"
            />
          </mat-form-field>
          <mat-form-field class="example-half-width">
            <mat-label>Plugin</mat-label>
            <mat-select
              [(ngModel)]="plugins[0].value"
              [ngModelOptions]="{ standalone: true }"
            >
              <mat-option *ngFor="let plugin of plugins" [value]="plugin.value">
                {{ plugin.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-half-width">
            <mat-label>Service</mat-label>
            <mat-select
              [(ngModel)]="services[0].value"
              [ngModelOptions]="{ standalone: true }"
            >
              <mat-option
                *ngFor="let service of services"
                [value]="service.value"
              >
                {{ service.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-half-width">
            <mat-label>Action</mat-label>
            <mat-select
              [(ngModel)]="actions[0].value"
              [ngModelOptions]="{ standalone: true }"
            >
              <mat-option *ngFor="let action of actions" [value]="action.value">
                {{ action.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-half-width">
            <mat-label>Account</mat-label>
            <mat-select
              [(ngModel)]="accounts[0].value"
              [ngModelOptions]="{ standalone: true }"
            >
              <mat-option
                *ngFor="let account of accounts"
                [value]="account.value"
              >
                {{ account.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-tab>
      <mat-tab label="Input">
        <form [formGroup]="secondFormGroup">
          <mat-form-field class="example-half-width">
            <mat-label>Instance Name</mat-label>
            <input
              matInput
              placeholder="Enter Instance Name"
              value="$stage.task.instance"
            />
          </mat-form-field>
          <mat-form-field class="example-half-width">
            <mat-label>Type</mat-label>
            <mat-select
              [(ngModel)]="types[0].value"
              [ngModelOptions]="{ standalone: true }"
            >
              <mat-option *ngFor="let type of types" [value]="type.value">
                {{ type.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-half-width">
            <mat-label>VPC</mat-label>
            <input matInput placeholder="Enter VPC" value="VPC-Ohio" />
          </mat-form-field>
          <mat-form-field class="example-half-width">
            <mat-label>Subnet</mat-label>
            <input matInput placeholder="Enter Subnet" value="SMR - 123214" />
          </mat-form-field>
          <mat-form-field class="example-half-width">
            <mat-label>Security</mat-label>
            <input matInput placeholder="Enter Security" value="SMR Group" />
          </mat-form-field>
          <mat-form-field class="example-half-width">
            <mat-label>Security Allowed</mat-label>
            <input
              matInput
              placeholder="Enter Security Allowed"
              value="SMR - 1233214"
            />
          </mat-form-field>
          <mat-form-field class="example-half-width">
            <mat-label>AMI</mat-label>
            <input matInput placeholder="Enter AMI" value="AMI - lkiik" />
          </mat-form-field>
          <mat-form-field class="example-half-width">
            <mat-label>Key</mat-label>
            <input matInput placeholder="Enter Key" value="KEY_SMR" />
          </mat-form-field>
        </form>
      </mat-tab>
      <mat-tab label="Output">
        <form [formGroup]="thirdFormGroup">
          <mat-form-field class="example-half-width">
            <mat-label>Instance Name</mat-label>
            <input matInput value="$stage.task.instance" />
          </mat-form-field>
          <mat-form-field class="example-half-width">
            <mat-label>IP</mat-label>
            <input matInput value="198.28.10.11" />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <input matInput value="Some Description comes here." />
          </mat-form-field>
        </form>
      </mat-tab>
    </mat-tab-group>
    <!-- end of modal body -->
  </div>
  <div class="modal-footer">
    <mat-dialog-actions>
      <button mat-flat-button (click)="dialog.closeAll()">Cancel</button>
      <button
        mat-flat-button
        color="primary"
        (click)="dialog.closeAll()"
        cdkFocusInitial
      >
        Create
      </button>
    </mat-dialog-actions>
  </div>
</ng-template>
