<mat-form-field  class="example-full-width">
    <mat-label>Format</mat-label>
    <mat-select [(value)]="selectedFormat" (valueChange)="onFormatChange($event)">
      <mat-option *ngFor="let format of formatTypes" [value]="format.value">
        {{ format.viewValue }}
      </mat-option>
    </mat-select>      
  </mat-form-field>
  <mat-form-field *ngIf="formTypeJ"  class="example-full-width">
    <mat-label>Data Type</mat-label>
    <mat-select [(value)]="selectedDataType" (valueChange)="ondataTypeChange($event)">
      <mat-option *ngFor="let datatype of dataTypes" [value]="datatype.value">
        {{ datatype.viewValue }}
      </mat-option>
    </mat-select>      
  </mat-form-field>
    <div>
    <mat-form-field *ngIf="formTypeJ && radioD">
     <label>Data</label>
      <textarea  rows = 10 cols= 10 placeholder="JSON dataFileY..."  [(ngModel)]="dataFileJ"
       ></textarea>
    </mat-form-field>
    <mat-error *ngIf="errorMessage" style="color: red;font-size: 20px;">
      Please enter valid data
  </mat-error>         
  </div>
  <div>
    <mat-form-field *ngIf="formTypeJ && radioB"style="width:300px;height: 300px;">
      <mat-label>Enter Schema</mat-label>
      <textarea matInput placeholder="JSON Schema..."  [(ngModel)]="schemaFileJ"
       matTextareaAutosize matAutosizeMinRows=15 matAutosizeMaxRows=100 style="width: 300px;height: 300px;"></textarea>
    </mat-form-field>
  </div>   
  <div>
    <mat-form-field *ngIf="formTypeY" style="width:300px;height: 300px;">
      <mat-label>Enter Data</mat-label>
      <textarea matInput placeholder="YAML Data..."  [(ngModel)]="dataFileY" 
      matTextareaAutosize matAutosizeMinRows=10 matAutosizeMaxRows=100 style="width: 300px;height: 300px;"></textarea>
    </mat-form-field>
  </div>