<div class="main-header">
  <!-- breadcrumb -->
  <div class="bc">
    <img
      class="bc-icons"
      [src]="
        onHub ? 'assets/imgs/bc-hub-blue.svg' : 'assets/imgs/bc-hub-gray.svg'
      "
      alt="hub"
    />
    <span
      class="breadcrumb-text pointer-cursor"
      (click)="goToHub()"
      [ngClass]="{ 'set-primary-color': onHub }"
      >Hub
    </span>
    <!-- <img
      class="bc-icons"
      src="assets/imgs/bc-workflow-gray.svg"
      alt="workflow"
    />
    <span class="breadcrumb-text">Workflow > </span>
    <img
      class="bc-icons"
      src="assets/imgs/bc-template-blue.svg"
      alt="template"
    />
    <span class="breadcrumb-text set-primary-color">Template</span> -->

    <app-breadcrumb></app-breadcrumb>
  </div>

  <!-- end of breadcrumb -->
  <div class="right-menu">
    <img
      [src]="
        unreadNotifications
          ? 'assets/imgs/bell-active.svg'
          : 'assets/imgs/bell-default.svg'
      "
      alt="notifications"
      class="notification-img"
    />
    <ngx-avatar name="Robert Frost" initialsSize="2" size="24"  [matMenuTriggerFor]="userSettingsDropDown"></ngx-avatar
    ><span class="std-text" [matMenuTriggerFor]="userSettingsDropDown">Robert</span>
    <button
    class="profile-dd"
        mat-button style="height: 20px;min-width: 20px;padding: 0px;"
        [matMenuTriggerFor]="userSettingsDropDown"
      >
      <img
      class="profile-dd" style="margin-top: -20px;"
      src="assets/imgs/chevron-down.svg"
      alt="profile-settings"
    />
      </button>
      <mat-menu
        id="settings-menu"
        #userSettingsDropDown="matMenu"
        xPosition="before"
        yPosition="below"
      >
        <button mat-menu-item (click)="openUserSettings()">
          <img
          class="icon-usersettings"
        src="assets/imgs/user-settings.svg"
        alt=""
      />
          <span>Settings</span>
        </button>
        <button mat-menu-item  (click)="updatePassowrd()">
          <img
          class="icon-usersettings"
        src="assets/imgs/update-password.svg"
        alt=""
      />
          <span>Update Password</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <img
          class="icon-usersettings"
        src="assets/imgs/user-logout.svg"
        alt=""
      />
          <span (click)="logout()">Logout</span>
        </button>
      </mat-menu>
   
  </div>
</div>
