<form  (ngSubmit)="onSubmit(form.value, form)" [formGroup]="form" class="common-text">
    <div class="flex-container custom-scrollbar-small">
        <div *ngFor="let data of dataSource" >
            <div class="list-item">
                <app-form-template [dataItem]="data" [form]="form" 
                (dropdownChange)="updateForm($event)"
                (radioButtonChange)="updateForm($event)"
                (CheckboxChange)="updateFormForCheckbox($event)"
                ></app-form-template>
            </div>
        </div>
    </div>  
    <mat-divider></mat-divider> 
   <div class="pt-4 pb-4">
    <button
    mat-flat-button
    color="primary"
    type="submit"
    cdkFocusInitial
  >
    Save
  </button>
  <button
    mat-button
    color="primary"
    type="button"
    (click)="close()"
  >
    Cancel
  </button>
   </div>
  
</form>