.set-margin-top {
  margin-top: 8px;
}

.example-full-width {
  width: 100%;
}

.example-half-width {
  // width: 50%;
  width: 40%;
}

mat-form-field {
  padding: 10px;
}

.right-align {
  cursor: pointer;
  position: relative;
  left: 3em;
}
