<div>
  <form [formGroup]="firstFormGroup">
    <mat-form-field class="example-half-width" style="margin-top: 8px;">
      <mat-label>Key</mat-label>
      <input matInput placeholder="Enter key" value="IP" />
    </mat-form-field>
    <span> : </span>
    <mat-form-field class="example-half-width">
      <mat-label>Value</mat-label>
      <input matInput placeholder="Enter Value" value="192.128.10.11" />
    </mat-form-field>
    <img class="right-align" src="assets/imgs/delete.svg" alt="delete" />

    <mat-form-field class="example-half-width">
      <input matInput value="Software" />
    </mat-form-field>
    <span> : </span>
    <mat-form-field class="example-half-width">
      <input matInput value="SqlDB" />
    </mat-form-field>
    <img class="right-align" src="assets/imgs/delete.svg" alt="delete" />

    <mat-form-field class="example-half-width">
      <input matInput placeholder="Enter key" />
    </mat-form-field>
    <span> : </span>
    <mat-form-field class="example-half-width">
      <input matInput placeholder="Enter Value" />
    </mat-form-field>
  </form>
</div>
