.set-margin-top {
  margin-top: 8px;
}

.example-full-width {
  width: 100%;
}

.example-half-width {
  // width: 40%;
  width: 32%;
}

mat-form-field {
  padding: 5px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
}

.right-align {
  cursor: pointer;
  position: relative;
  left: 3em;
}
