<!-- <div style="display: flex; justify-content: flex-end;">
    <div class="pt-2">
      <button mat-flat-button color="primary" style="line-height: 30px !important;" (click)="addTag()">
        <span>+ Add Tag</span>
      </button>
    </div>
  </div> -->
<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit($event,form.value)">
    <div formArrayName="configuredTags" *ngFor="let tag of form.get('configuredTags')?.controls; let i = index">
      <div [formGroupName]="i">
        <mat-form-field class="example-half-width set-margin-top">
          <mat-label>Key</mat-label>
          <input matInput placeholder="Enter key" formControlName="name" (change)="valueChange(form)"/>
        </mat-form-field>
        <span> : </span>
        <mat-form-field class="example-half-width">
          <mat-label>Value</mat-label>
          <input matInput placeholder="Enter Value" formControlName="value" (change)="valueChange(form)"/>
        </mat-form-field>
        <span>
          <mat-icon style="vertical-align: middle" [style.visibility]="configuredTags?.length - 1 === i ? 'visible' : 'hidden'" [ngStyle]="{'color':'#4097e3'}" 
            (click)="addTag()">add_circle</mat-icon> &nbsp;
          <a (click)="deleteTag(i)">
            <img src="assets/imgs/delete.svg" alt="delete" />
          </a>
        </span>
      </div>
    </div>
  </form>
</div>