<div class="hub-container">
  <mat-tab-group id="hub-tab" [@.disabled]="true">
    <mat-tab label="Dashboard">
      <!-- dashboard tab content -->
    </mat-tab>
    <mat-tab label="Template">
      <div class="align-searchbox">
        <form>
          <mat-form-field
            id="mat-search"
            floatLabel="never"
            class="mat-typography full-width"
          >
            <img
              matPrefix
              src="assets/imgs/search-2.svg"
              alt="search-icon"
              class="new-search-icon"
            />
            <input
              matInput
              placeholder="Search"
              type="search"
              (keyup)="search($event)"
              name="test"
              [(ngModel)]="searchKey"
            />
          </mat-form-field>
        </form>
      </div>

      <div class="all-templates">
        <div>
          <div
            class="set-margin-bottom"
            (click)="
              isTemplateFavouritesCollapsed = !isTemplateFavouritesCollapsed
            "
          >
            <img
              src="assets/imgs/favourite.svg"
              alt="Favourites"
              class="set-margin-right"
            />
            <span class="label-text-fav">Favourites</span>
            <img
              class="collapse-icon"
              [src]="
                isTemplateFavouritesCollapsed
                  ? 'assets/imgs/chevron-up.svg'
                  : 'assets/imgs/chevron-down.svg'
              "
              alt=""
            />
          </div>

          <div *ngIf="!isTemplateFavouritesCollapsed" class="grid-container">
            <mat-card>
              <div>
                <ngx-avatar name="Tomcat Template"></ngx-avatar>
                <span class="bold-text template-title">Tomcat Template</span>
                <span class="badge badge-pill badge-custom template-status"
                  >Configured</span
                >
                <div class="template-progress">
                  <span class="common-text">Progress : </span>
                  <mat-progress-bar value="50"></mat-progress-bar>
                  <span class="medium-text">50%</span>
                </div>
              </div>
            </mat-card>
            <mat-card>
              <div>
                <ngx-avatar name="Template 2"></ngx-avatar>
                <span class="bold-text template-title">Template 2</span>
                <span class="badge badge-pill badge-custom template-status"
                  >Configured</span
                >
                <div class="template-progress">
                  <span class="common-text">Progress : </span>
                  <mat-progress-bar value="50"></mat-progress-bar>
                  <span class="medium-text">50%</span>
                </div>
              </div>
            </mat-card>
          </div>
        </div>

        <div class="set-margin-top">
          <div
            class="set-margin-bottom"
            (click)="isTemplateCollapsed = !isTemplateCollapsed"
          >
            <img
              src="assets/imgs/bc-template-blue.svg"
              alt="Template"
              class="set-margin-right"
            />
            <span class="label-text">Template</span>
            <img
              class="collapse-icon"
              [src]="
                isTemplateCollapsed
                  ? 'assets/imgs/chevron-up.svg'
                  : 'assets/imgs/chevron-down.svg'
              "
              alt=""
            />
          </div>

          <div *ngIf="!isTemplateCollapsed" class="grid-container">
            <mat-card
              *ngFor="let template of templates"
              (click)="goToTemplate(template.id)"
            >
              <div>
                <ngx-avatar name="{{ template.name }}"></ngx-avatar>
                <span class="bold-text template-title">{{
                  template.name
                }}</span>
                <span class="badge badge-pill badge-custom template-status">{{
                  template.groups[0].statusCd
                }}</span>
                <div class="template-progress">
                  <span class="common-text">Progress : </span>
                  <mat-progress-bar
                    value="{{ template.progress }}"
                  ></mat-progress-bar>
                  <span class="medium-text">{{ template.progress }}%</span>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Workflow">
      <div class="align-searchbox">
        <form>
          <mat-form-field
            id="mat-search"
            floatLabel="never"
            class="mat-typography full-width"
          >
            <img
              matPrefix
              src="assets/imgs/search-2.svg"
              alt="search-icon"
              class="new-search-icon"
            />
            <input
              matInput
              placeholder="Search"
              type="search"
              (keyup)="search($event)"
              name="test"
              [(ngModel)]="searchKey"
            />
          </mat-form-field>
        </form>
      </div>

      <div class="all-templates">
        <div>
          <div
            class="set-margin-bottom"
            (click)="
              isWorkflowFavouritesCollapsed = !isWorkflowFavouritesCollapsed
            "
          >
            <img
              src="assets/imgs/favourite.svg"
              alt="Favourites"
              class="set-margin-right"
            />
            <span class="label-text-fav">Favourites</span>
            <img
              class="collapse-icon"
              [src]="
                isWorkflowFavouritesCollapsed
                  ? 'assets/imgs/chevron-up.svg'
                  : 'assets/imgs/chevron-down.svg'
              "
              alt=""
            />
          </div>

          <div *ngIf="!isWorkflowFavouritesCollapsed" class="grid-container">
            <mat-card>
              <div>
                <ngx-avatar name="SMR Wave Workflow"></ngx-avatar>
                <span class="bold-text template-title">SMR Wave Workflow</span>
                <img
                  class="workflow-state-img"
                  src="assets/imgs/wf-configured.svg"
                  alt="Configured"
                />
                <span class="badge badge-pill badge-custom workflow-status"
                  >Configured</span
                >
                <div class="workflow-progress">
                  <span class="common-text">Progress : </span>
                  <mat-progress-bar value="50"></mat-progress-bar>
                  <span class="medium-text">50%</span>
                </div>
              </div>
            </mat-card>
            <mat-card>
              <div>
                <ngx-avatar name="SME Wave Workflow"></ngx-avatar>
                <span class="bold-text template-title">SMR Wave Workflow</span>
                <img
                  class="workflow-state-img"
                  src="assets/imgs/wf-defined.svg"
                  alt="Defined"
                />
                <span class="badge badge-pill badge-custom workflow-status"
                  >Defined</span
                >
                <div class="workflow-progress">
                  <span class="common-text">Progress : </span>
                  <mat-progress-bar value="50"></mat-progress-bar>
                  <span class="medium-text">50%</span>
                </div>
              </div>
            </mat-card>
          </div>
        </div>

        <div class="set-margin-top">
          <div
            class="set-margin-bottom"
            (click)="isWorkflowCollapsed = !isWorkflowCollapsed"
          >
            <img
              src="assets/imgs/bc-workflow-blue.svg"
              alt="Template"
              class="set-margin-right"
            />
            <span class="label-text">Workflow</span>
            <img
              class="collapse-icon"
              [src]="
                isWorkflowCollapsed
                  ? 'assets/imgs/chevron-up.svg'
                  : 'assets/imgs/chevron-down.svg'
              "
              alt=""
            />
          </div>

          <div *ngIf="!isWorkflowCollapsed" class="grid-container">
            <mat-card
              *ngFor="let workflow of workflows"
              (click)="goToWorkflow(workflow.id)"
            >
              <div>
                <ngx-avatar name="{{ workflow.name }}"></ngx-avatar>
                <span class="bold-text template-title">{{
                  workflow.name
                }}</span>
                <img
                  class="workflow-state-img"
                  src="assets/imgs/wf-configured.svg"
                  alt="Configured"
                />
                <span class="badge badge-pill badge-custom workflow-status">{{
                  workflow.groups[0].statusCd
                }}</span>
                <div class="workflow-progress">
                  <span class="common-text">Progress : </span>
                  <mat-progress-bar
                    value="{{ workflow.progress }}"
                  ></mat-progress-bar>
                  <span class="medium-text">{{ workflow.progress }}%</span>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
