<div id="wave-content-id" class="wave__content__main__wrapper">
  <div id="wave-main-content" *ngIf="waveData" [ngClass]="{ 'side-open': edit }" class="wave__content__wrapper">
    <!-- wave name and desription start -->
    <div class="wave__header">
      <div [routerLink]="['/hub']" (mouseover)="imgHovered = true" (mouseleave)="imgHovered = false"
        class="back-icon pointer-cursor" [ngClass]="{ 'back-not-hover': !imgHovered }">
        <img [src]="
            imgHovered
              ? 'assets/imgs/back-icon.svg'
              : 'assets/imgs/chevron-down.svg'
          " alt="back" />
      </div>
      <div class="ngx-template-header-avatar">
        <button class="avatar-dd-btn" mat-button [matMenuTriggerFor]="avatarDropdown" (mouseover)="waveImgHover = true"
          (mouseleave)="waveImgHover = false">
          <ngx-avatar *ngIf="waveData?.image; else initialsAvatar" [src]="waveData?.image" class="my-avatar flex-center"
            name="{{ waveData.name }}" initialsSize="2" [size]="isMobile ? 40 : 56"></ngx-avatar>
          <ng-template #initialsAvatar>
            <ngx-avatar name="{{ waveData.name }}" initialsSize="2" [size]="isMobile ? 40 : 56"></ngx-avatar>
          </ng-template>
          <img *ngIf="waveImgHover" class="edit-avatar-img" src="assets/imgs/edit-img-2.svg" alt="edit" />
        </button>
        <mat-menu #avatarDropdown="matMenu">
          <button mat-menu-item>
            <label for="waveAvatarFile" class="avatar-upload-option">Upload
              <input id="waveAvatarFile" type="file" (change)="changeAvatar($event)" />
            </label>
          </button>
          <button mat-menu-item (click)="removeAvatar()">
            Remove
          </button>
        </mat-menu>
      </div>
      <div class="wave__heading">
        <input class="description-styles template-title-font" (click)="$event.target.select()" (focus)="onFocusTitle()"
          (keydown.enter)="
            $event.preventDefault() && updateTitle(); $event.target.blur()
          " (blur)="updateTitle()" [(ngModel)]="newTitle ? newTitle : waveData.name" />
      </div>

      <div class="wave-description">
        <input class="description-styles template-desc-font" (click)="$event.target.select()"
          (focus)="onFocusDescription()" (keydown.enter)="
            $event.preventDefault() && updateDescription(); $event.target.blur()
          " (blur)="updateDescription()" [(ngModel)]="newDescription ? newDescription : waveData.desc" />
      </div>

      <a (click)="favourite = !favourite">
        <img class="fav-icon" [src]="
            favourite
              ? 'assets/imgs/favourite.svg'
              : 'assets/imgs/unfavourite.svg'
          " alt="mark-as-favourite" />
      </a>

      <button class="template-dd-btn" mat-button [matMenuTriggerFor]="templateDropdown">
        <img src="assets/imgs/vEllipsis.svg" class="template-dd-icon" alt="Template Settings" />
      </button>
      <mat-menu id="account-menu" #templateDropdown="matMenu" xPosition="before" yPosition="below">
        <button mat-menu-item (click)="showAccountOptions = true">
          Accounts
        </button>
        <button mat-menu-item (click)="showTagOptions = true">
          Tags
        </button>
      </mat-menu>
    </div>
    <!-- wave name and desription end -->

    <!-- template subheader -->
    <mat-tab-group id="stage-tab" [(selectedIndex)]="selectedTabIndex">
      <mat-tab label="Charts">
        <!-- put chart tab content here -->
      </mat-tab>

      <mat-tab label="Workflows">
        <!-- Workflows tab content -->
        <div *ngIf="waves" class="workflows-height">
          <div class="badge-container" [ngStyle]="{ 'margin-top': isMobile ? '3.938em' : '7px' }">
            <span class="stage-tags">Tags (
              <a (click)="showTagOptions = true" class="pointer-cursor">
                <span class="stage-tags-blue">Change</span>
              </a>
              )<span class="align-tags-colon">:</span>
            </span>
            <span class="badge badge-pill badge-custom" [ngStyle]="{ 'margin-left': isMobile ? '0' : '3.5em' }">
              <span *ngIf="isMobile" class="badge-key-value">
                <span *ngIf="waveData?.tags &&  waveData?.tags?.length > 0; else noTags">
                  {{ waveData.tags[0].name }} :
                  {{ waveData.tags[0].value }}
                </span>
                <ng-template #noTags>
                  N/A
                </ng-template>
              </span>
            </span>
            <span *ngIf="isMobile" class="badge badge-pill badge-custom">
              <span *ngIf="waveData.tags.length > 1" class="badge-key-value">+{{ waveData.tags.length - 1 }}</span>
            </span>
            <div *ngIf="!isMobile" class="pos-tags">
              <span class="badge badge-pill badge-custom" *ngFor="let tag of waveData.tags">
                <span class="badge-key-value">{{ tag.name }} : {{ tag.value }}</span>
              </span>
            </div>
          </div>
          <div class="badge-container" [ngStyle]="{ 'margin-top': isMobile ? '0' : '7px' }">
            <span class="stage-tags">Accounts (
              <a (click)="showAccountOptions = true" class="pointer-cursor">
                <span class="stage-tags-blue">Change</span>
              </a>
              )<span class="align-accounts-colon">:</span>
            </span>
            <span *ngIf="isMobile" class="badge badge-pill badge-custom margin-left-zero">
              <span *ngIf="waveData?.keyVault &&  waveData?.keyVault?.length > 0; else accountsMobile">
                {{ waveData?.keyVault[0]?.provider }} :
                {{ waveData?.keyVault[0]?.accountName }}
              </span>
              <ng-template #accountsMobile>
                N/A
              </ng-template>
            </span>
            <span *ngIf="isMobile" class="badge badge-pill badge-custom">
              <span *ngIf="waveData?.keyVault?.length > 1" class="badge-key-value">+{{ waveData?.keyVault?.length - 1 }}</span>
            </span>
            <span *ngIf="!isMobile" class="badge badge-pill badge-custom"
              [ngStyle]="{ 'margin-left': isMobile ? '0' : '3.5em' }">
              <span *ngIf="waveData?.keyVault &&  waveData?.keyVault?.length > 0; else NotAccountsMobile" class="badge-key-value">
                {{ waveData?.keyVault[0]?.cpName }} :
                {{ waveData?.keyVault[0]?.accountName }}
              </span>
              <ng-template #NotAccountsMobile>
                N/A
              </ng-template>
            </span>
            <span *ngIf="!isMobile" class="badge badge-pill badge-custom">
              <span *ngIf="waveData?.keyVault?.length > 1" class="badge-key-value">+{{ waveData?.keyVault?.length - 1 }}</span>
            </span>
          </div>

          <div class="wave-states">
            <a (click)="waveState = 'start'">
              <img class="pointer-cursor" [src]="
                  waveState === 'start'
                    ? 'assets/imgs/start-active.svg'
                    : 'assets/imgs/start-inactive.svg'
                " alt="start" />
            </a>
            <a (click)="waveState = 'pause'">
              <img class="pointer-cursor left-padding-24" [src]="
                  waveState === 'pause'
                    ? 'assets/imgs/pause-active.svg'
                    : 'assets/imgs/pause-inactive.svg'
                " alt="pause" />
            </a>
            <a (click)="waveState = 'stop'">
              <img class="pointer-cursor left-padding-24" [src]="
                  waveState === 'stop'
                    ? 'assets/imgs/stop-active.svg'
                    : 'assets/imgs/stop-inactive.svg'
                " alt="stop" />
            </a>
          </div>

          <div class="stage-action-bar">
            <button mat-flat-button color="primary" class="new-stage-btn" (click)="addGroup()">
              <span class="new-stage-btn-text">+ New</span>
            </button>
          </div>
        </div>

        <div class="template-container">
          <div class="templates__wrapper">
            <!-- wave templates list start-->
            <app-wave-list #waveList (rowClicked)="openTaskDetails($event)" (updateGroupInfo)="updateGroupInfo($event)"
              [waveData]="waveData">
            </app-wave-list>
            <!-- wave templates list end-->
          </div>
        </div>
        <!-- End of Stages tab content -->
      </mat-tab>
    </mat-tab-group>

    <!-- end of template subheader -->

    <!-- wave groups end -->
  </div>

  <!-- account options start -->
  <div *ngIf="showAccountOptions" id="resizable-holder" class="import-options resizable" mwlResizable
    [enableGhostResize]="true" [resizeEdges]="{ bottom: false, right: false, top: false, left: true }"
    (resizeEnd)="onResizeEnd($event)">
    
      <header>
        <a (click)="showAccountOptions = false" class="pointer-cursor left-24-top-1em">
          <img src="assets/imgs/close-circle.svg" alt="Close" />
        </a>
        Account
      </header>
      <mat-divider></mat-divider>
      <div class="sidebar-search top-margin-1em">
        <form>
          <mat-form-field id="mat-search" floatLabel="never" class="mat-typography full-width">
            <img matPrefix src="assets/imgs/search-2.svg" alt="search-icon" class="new-search-icon" />
            <input matInput placeholder="Search" type="search" name="test" [(ngModel)]="searchKey" />
          </mat-form-field>
        </form>
      </div>
      <div class="account-section p-2">
        <mat-accordion >
          <mat-expansion-panel *ngFor="let account of accounts | search: searchKey">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div  (click)="$event.stopPropagation();" >
                  <mat-checkbox [checked]="account.selected" (change)="onCheck($event, account)">
                  </mat-checkbox>
                </div> 
                <div class="pl-4"> {{account?.accountName}}</div>
                <!-- <ngx-avatar name="S M" initialsSize="2" [size]="40"></ngx-avatar> -->
               <!-- <span class="pl-2"> {{account?.accountName}}</span> -->
              </mat-panel-title>
              <mat-panel-description style="font-weight: 600 !important;">
               
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Provider: {{account?.cpName}}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
     
      <div class="account-footer">
        <div class="account-sidebar-footer-btns">
          <button mat-flat-button color="primary" (click)="showAccountOptions = false; addAccounts()" cdkFocusInitial>
            Add
          </button>
          <button mat-button color="primary" (click)="showAccountOptions = false;" class="left-margin-1em">
            Cancel
          </button>
        </div>
      </div>
    
  </div>
  <!-- end of account options -->

  <!-- tag options start -->
  <div *ngIf="showTagOptions" id="resizable-holder" class="import-options resizable" mwlResizable
    [enableGhostResize]="true" [resizeEdges]="{ bottom: false, right: false, top: false, left: true }"
    (resizeEnd)="onResizeEnd($event)">
    <header>
      <a (click)="showTagOptions = false" class="pointer-cursor left-24-top-1em">
        <img src="assets/imgs/close-circle.svg" alt="Close" />
      </a>
      Edit Tags
    </header>
    <mat-divider></mat-divider>
    <!-- tag edit body -->
    <app-edit-tag [tags]="waveData?.tags" (newTags)="updateTags($event)"></app-edit-tag>
    <!-- end of tag edit body -->
    <div [ngClass]="{ 'modal-footer-mobile': isMobile, 'modal-footer': !isMobile }" class="edit-tag-footer-btns">
      <div class="import-btns-1">
        <button [disabled]="isTagsFormValid" mat-flat-button color="primary"
          (click)="showTagOptions = false; saveTags()" cdkFocusInitial>
          Save
        </button>
        <button mat-button color="primary" (click)="showTagOptions = false" class="left-margin-1em">
          Cancel
        </button>
      </div>
    </div>
  </div>
  <!-- end of tag options -->
</div>