<!-- main page starts here -->
<div style="position: absolute; top: 0; left: 60px; width: 100%;">
  <div
    class="main__background blue"
    [ngClass]="{ wave__list__collapsed: waveListCollapsed && !showWaveList }"
  >
    <div class="content__wrapper">
      <!-- workflow-list start -->
      <!-- <div class="waves__list__wrapper">
        <div
          (click)="collapseWaveList()"
          [ngClass]="{ 'strict-collapse': waveListCollapsed }"
          class="wave-collapse"
        >
          <img
            src="assets/imgs/chevron-up.svg"
            style="transform: rotate(-90deg);"
            alt=""
          />
        </div>
        <div class="waves__list__inner__wrapper">
          <div class="wave-list">
            <div class="waves__list__header">
              <div (click)="addWave()" class="image-wrapper">
                Wave
                <img
                  src="assets/imgs/add-icon-full.svg"
                  alt=""
                  style="margin-left: 1.125em; position: relative; top: 2px;"
                />
              </div>
            </div>
            <div class="waves__list__filter">
              <div>
                <img class="search-icon" src="assets/imgs/search.svg" alt="" />
              </div>
              <div class="waves_list__search">
                <input
                  (keyup)="search($event)"
                  name="test"
                  [(ngModel)]="searchKey"
                  placeholder="Search"
                  class="filter__input"
                  type="text"
                />
              </div>
            </div>

            <div class="waves__list">
              <a (click)="isRecentCollapsed = !isRecentCollapsed">
                <div
                  class="wave__list__item"
                  [ngStyle]="{
                    background: isRecentCollapsed
                      ? 'inherit'
                      : 'var(--light-blue-bg)'
                  }"
                >
                  <img
                    src="assets/imgs/recent.svg"
                    style="padding: 12px 0 15px 0;"
                  />
                  <span
                    class="recent-text"
                    [ngStyle]="{
                      'font-family': isRecentCollapsed
                        ? 'LatoRegular'
                        : 'LatoBold'
                    }"
                    >Recent</span
                  >
                  <img
                    [src]="
                      isRecentCollapsed
                        ? 'assets/imgs/chevron-down.svg'
                        : 'assets/imgs/chevron-up.svg'
                    "
                    class="pos-dropdown-icons"
                  />
                </div>
              </a>

              <div
                [ngbCollapse]="isRecentCollapsed"
                [ngStyle]="{
                  background: isRecentCollapsed
                    ? 'inherit'
                    : 'var(--light-blue-bg)'
                }"
              >
                <div class="wave__list__item" style="padding-left: 48px;">
                  <div style="padding: 11px 0 11px 0; margin-right: 8px;">
                    <ngx-avatar name="Wave 1" size="32"></ngx-avatar>
                  </div>
                  Wave 1
                </div>
              </div>
              <a (click)="isFavouritesCollapsed = !isFavouritesCollapsed">
                <div
                  class="wave__list__item"
                  style="border-top: solid 1px var(--grayed-border);"
                  [ngStyle]="{
                    background: isFavouritesCollapsed
                      ? 'inherit'
                      : 'var(--light-blue-bg)'
                  }"
                >
                  <img
                    src="assets/imgs/favourite.svg"
                    style="padding: 12px 0 15px 0;"
                  />
                  <span
                    class="favourites-text"
                    [ngStyle]="{
                      'font-family': isFavouritesCollapsed
                        ? 'LatoRegular'
                        : 'LatoBold'
                    }"
                    >Favourites</span
                  >
                  <img
                    [src]="
                      isFavouritesCollapsed
                        ? 'assets/imgs/chevron-down.svg'
                        : 'assets/imgs/chevron-up.svg'
                    "
                    class="pos-dropdown-icons"
                  />
                </div>
              </a>

              <div
                [ngbCollapse]="isFavouritesCollapsed"
                [ngStyle]="{
                  background: isFavouritesCollapsed
                    ? 'inherit'
                    : 'var(--light-blue-bg)'
                }"
              >
                <div class="wave__list__item" style="padding-left: 48px;">
                  <img
                    src="assets/imgs/jpgs/tomcat.jpg"
                    class="avatar"
                    alt="Tomcat"
                  />
                  Tomcat
                </div>
                <div class="wave__list__item" style="padding-left: 48px;">
                  <img
                    src="assets/imgs/jpgs/keoba.jpg"
                    class="avatar"
                    alt="Tomcat"
                  />
                  MySQL
                </div>
              </div>
              <hr class="h-sep" />
              <div
                (click)="getWaveData(wave.id)"
                [ngClass]="{ selected: wave.selected }"
                *ngFor="let wave of waves"
                class="wave__list__item"
              >
                <img
                  *ngIf="wave.icon"
                  [src]="wave.icon"
                  class="avatar"
                  alt="{{ wave.name }}"
                />
                <div
                  *ngIf="!wave.icon"
                  style="padding: 11px 0 11px 0; margin-right: 8px;"
                >
                  <ngx-avatar name="{{ wave.name }}" size="32"></ngx-avatar>
                </div>
                {{ wave.name }}
                <img
                  class="mark-as-fav"
                  src="assets/imgs/mark-fav.svg"
                  alt="Add to Favourites"
                />
                <div *ngIf="wave.selected" class="v-line"></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- end of workflow-list -->

      <!-- wave details start -->
      <div class="wave__content">
        <app-wave [waveData]="waveData"></app-wave>
      </div>
      <!-- wave details end -->
    </div>
  </div>
</div>
<!-- main page ends here -->

<!-- add wave start -->
<div *ngIf="showPopup">
  <div class="modal-backdrop"></div>
  <div class="new__wave__wrapper">
    <div>Wave Name</div>
    <input [(ngModel)]="waveName" class="input" type="text" />
    <div class="button-wrapper">
      <span class="cancel-button" (click)="cancelAdd()">cancel</span>
      <div (click)="addWave()" class="add-botton">Add</div>
    </div>
  </div>
</div>

<!-- add wave end -->
