<!-- left logo bar start-->
<div class="sidenav__wrapper">
  <div class="logo__wrapper" style="padding: 18px 16px 18px 17px;">
    <img
      class="logo"
      src="assets/imgs/Matilda.svg"
      alt=""
      style="width: 27px; height: 24px; opacity: 1;"
    />
  </div>
  <hr class="horizontal-line-break" />

  <!-- remaining logos in left sidebar -->
  <div
    class="logo__wrapper"
    style="margin-top: 40px; padding: 17px 16px 17px 17px;"
  >
    <img
      class="logo"
      src="assets/imgs/group-2.svg"
      alt=""
      style="width: 27px; height: 26px; opacity: 0.3;"
    />
  </div>
  <div class="logo__wrapper" style="padding: 17px 16px 17px 17px;">
    <img
      class="logo"
      src="assets/imgs/group-3.svg"
      alt=""
      style="width: 27px; height: 26px; opacity: 0.3;"
    />
  </div>
  <div class="logo__wrapper" style="padding: 17px 18px 14px 17px;">
    <img
      class="logo"
      src="assets/imgs/group-4.svg"
      alt=""
      style="width: 27px; height: 29px; opacity: 0.3;"
    />
  </div>
  <div
    class="logo__wrapper active-module"
    style="padding: 14px;"
    [routerLink]="['']"
  >
    <!-- <div class="v-line"></div> -->
    <img
      class="logo"
      src="assets/imgs/group-5.svg"
      alt=""
      style="width: 28px; height: 28px; opacity: 1;"
    />
  </div>
  <div class="logo__wrapper" style="padding: 14px;">
    <img
      class="logo"
      src="assets/imgs/group-6.svg"
      alt=""
      style="width: 32px; height: 32px; opacity: 0.3;"
    />
  </div>
  <div class="logo__wrapper" style="padding: 18px;">
    <img
      class="logo"
      src="assets/imgs/group-7.svg"
      alt=""
      style="width: 28px; height: 28px; opacity: 0.3;"
    />
  </div>
  <!-- remaining logos in left sidebar end -->

  <hr class="horizontal-line-break-bottom" />
  <div class="logo__wrapper logout-icon" style="padding: 17px;">
    <img
      class="logo"
      src="assets/imgs/group-8.svg"
      alt=""
      style="width: 26px; height: 26px; opacity: 1;"
    />
  </div>
</div>
<!-- left logo bar end-->
