<!-- left logo bar start-->
<div class="sidenav__wrapper">
  <div class="logo__wrapper" style="padding: 18px 16px 18px 17px;">
    <img
      class="logo"
      src="assets/imgs/matilda-logo.svg"
      alt=""
      style="width: 27px; height: 24px; opacity: 1;"
    />
  </div>

  <div class="horizontal-line-break"></div>

  <div
    class="logo__wrapper active-module"
    style="margin: 10px 0 10px 0; padding: 14px;"
    [routerLink]="['']"
  >
    <img
      class="migrate-logo"
      src="assets/imgs/group-5.svg"
      alt=""
      style="width: 28px; height: 28px; opacity: 1;"
    />
    <div class="migrate-section">
      <img
        class="logo"
        src="assets/imgs/group-5.svg"
        alt=""
        style="width: 28px; height: 28px; opacity: 1;"
      />
      <span class="menu-text" style="color: #fff;">Migrate</span>
      <img src="assets/imgs/white-chevron-down.svg" alt="" />
    </div>
  </div>

  <div class="horizontal-line-break" style="top: 8.75em;"></div>

  <div
    (click)="
      hubSelected = true; templateSelected = false; workflowSelected = false
    "
    [routerLink]="['']"
    class="logo__wrapper"
    style="padding: 14px;"
  >
    <img
      class="migrate-logo"
      [src]="
        hubSelected ? 'assets/imgs/white-hub.svg' : 'assets/imgs/blue-hub.svg'
      "
      alt=""
      style="margin-top: 14px; width: 28px; height: 28px;"
      [ngStyle]="hubIsSelected()"
    />
    <div class="migrate-section">
      <img
        class="logo"
        [src]="
          hubSelected ? 'assets/imgs/white-hub.svg' : 'assets/imgs/blue-hub.svg'
        "
        alt=""
        style="margin-top: 14px; width: 28px; height: 28px;"
        [ngStyle]="hubIsSelected()"
      />
      <span
        class="menu-text"
        style="margin-top: 1em;"
        [ngStyle]="setHubActiveColor()"
        >Hub</span
      >
    </div>
  </div>
  <div
    (click)="
      templateSelected = true; hubSelected = false; workflowSelected = false
    "
    [routerLink]="['/templates']"
    class="logo__wrapper"
    style="padding: 14px;"
  >
    <img
      class="migrate-logo"
      [src]="
        templateSelected
          ? 'assets/imgs/white-template.svg'
          : 'assets/imgs/blue-template.svg'
      "
      alt=""
      style="width: 28px; height: 28px;"
      [ngStyle]="templateIsSelected()"
    />
    <div class="migrate-section">
      <img
        class="logo"
        [src]="
          templateSelected
            ? 'assets/imgs/white-template.svg'
            : 'assets/imgs/blue-template.svg'
        "
        alt=""
        style="width: 28px; height: 28px;"
        [ngStyle]="templateIsSelected()"
      />
      <span class="menu-text" [ngStyle]="setTemplateActiveColor()"
        >Template</span
      >
    </div>
  </div>
  <div
    (click)="
      workflowSelected = true; hubSelected = false; templateSelected = false
    "
    [routerLink]="['/workflows']"
    class="logo__wrapper"
    style="padding: 14px;"
  >
    <img
      class="migrate-logo"
      [src]="
        workflowSelected
          ? 'assets/imgs/white-workflow.svg'
          : 'assets/imgs/blue-workflow.svg'
      "
      alt=""
      style="width: 28px; height: 28px;"
      [ngStyle]="workflowIsSelected()"
    />
    <div class="migrate-section">
      <img
        class="logo"
        [src]="
          workflowSelected
            ? 'assets/imgs/white-workflow.svg'
            : 'assets/imgs/blue-workflow.svg'
        "
        alt=""
        style="width: 28px; height: 28px;"
        [ngStyle]="workflowIsSelected()"
      />
      <span class="menu-text" [ngStyle]="setWorkflowActiveColor()"
        >Workflow</span
      >
    </div>
  </div>
  <!-- remaining logos in left sidebar end -->

  <div class="horizontal-line-break-bottom"></div>

  <div class="logo__wrapper logout-icon" style="padding: 17px;">
    <img
      class="logo"
      src="assets/imgs/group-8.svg"
      alt=""
      style="width: 26px; height: 26px; opacity: 1;"
    />
  </div>
</div>
<!-- left logo bar end-->
