@media only screen and (max-width: 426px) {
  .navbar-toggle {
    position: absolute;
    top: 1.125em;
    left: -6px;

    .navbar-toggle-btn {
      padding: 0;
    }
  }

  .sidenav__wrapper {
    width: 35vh;
    height: 100vh;
    background: var(--primary-light);
  }

  .mat-divider {
    border-top-color: #fff;
  }

  .matilda-logo {
    position: relative;
    left: 24px;
  }

  .migrate-section {
    display: flex;
  }

  .migrate-logo {
    display: none;
  }

  .mobile-logo {
    flex-direction: row !important;
    align-items: center !important;

    .close-btn {
      position: absolute;
      left: 16px; //24
    }

    .logo {
      position: absolute;
      left: 3.625em;
    }

    .matilda-text {
      visibility: visible;
      color: #fff;
      margin-left: 2em;
      font-size: 1.5em;
      text-transform: uppercase;
    }
  }

  .pos-migrate-text {
    width: 37.5px;
    height: 58px;
    display: flex;
    align-items: center;
  }

  .module-dd {
    position: relative;
    right: 1rem;
  }

  .menu-text {
    color: var(--dark-blue);
    font-family: LatoRegular;
    font-size: 1.125em;
    line-height: 1.375em;
    letter-spacing: 0.51px;
    // margin: 2px 8em 0 14px;
    margin: 2px 7em 0 14px;
  }

  .logo__wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .logo {
    display: flex;
    width: 27px;
    height: 24px;
    opacity: 0.5;
  }

  .active-module {
    width: 3.75em;
    height: 3.75em;

    .logo {
      // margin: 0;
      margin: auto 0;
    }
    &:active {
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }

  .logout-icon {
    position: absolute;
    bottom: 0;
  }
}

@media only screen and (min-width: 427px) {
  .navbar-toggle {
    display: none;
  }

  .close-btn {
    display: none;
    // width: 20px;
    // height: 20px;
    // top: 5px;
    // border: 1px solid #f7f7f7;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // background: white;
    // position: absolute;
    // right: -14px;
    // z-index: 1;
    // border-radius: 50%;
    // cursor: pointer;
    // img {
    //   width: 25px;
    //   height: 25px;
    // }
  }

  .mobile-logo {
    display: none;
  }

  .sidenav__wrapper {
    width: 3.75em;
    transition: width 0.1s;
    height: 100vh;
    background: var(--primary-light);
  }

  .mat-divider {
    border-top-color: #fff;
  }

  .migrate-section {
    display: none;
  }

  .matilda-text {
    visibility: visible;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    font-size: 1.25rem;
    position: relative;
    margin-top: -28px;
    margin-left: 3em;
    font-size: 1.25rem;
  }

  .sidenav__wrapper:hover {
    width: 13.875em;

    .migrate-logo {
      display: none;
    }

    .migrate-section {
      display: flex;
    }
  }

  .pos-migrate-text {
    width: 74px;
    height: 58px;
    display: flex;
    align-items: center;
  }

  .menu-text {
    color: var(--dark-blue);
    font-family: LatoRegular;
    font-size: 1.125em;
    line-height: 1.375em;
    letter-spacing: 0.51px;
    margin: 2px 4.375em 0 14px;
  }

  .module-dd {
    position: relative;
    right: 1em;
  }

  .logo__wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .logo {
    display: flex;
    width: 27px;
    height: 24px;
  }

  .active-module {
    width: 3.75em;
    height: 3.75em;

    .logo {
      // margin: 0;
      margin: auto 0;
    }
    &:active {
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }

  .logout-icon {
    position: absolute;
    bottom: 0;
  }
}

// common styles
.mobile-logo-header-padding {
  padding: 18px 16px 18px 17px !important;
}

.matilda-logo {
  width: 27px;
  height: 24px;
}

.active-module-extra {
  padding: 5px 16px 5px 16px !important;
}

.logo-extra {
  width: 28px !important;
  height: 28px !important;
  opacity: 1 !important;
}

.white-color {
  color: #fff !important;
}

.divider-top {
  top: 8.75em;
}

.icon-extra {
  margin-top: 7px !important;
  width: 28px !important;
  height: 28px !important;
  opacity: 0.5;
}

.img-size {
  width: 28px !important;
  height: 28px !important;
  opacity: 0.5;
}

.divider-bottom {
  position: absolute;
  bottom: 60px;
  width: 100%;
}

.logout-pos {
  width: 26px !important;
  height: 26px !important;
  opacity: 1 !important;
}
