<div *ngIf="mobileDevice" class="navbar-toggle">
  <button
    mat-button
    class="navbar-toggle-btn"
    data-toggle="collapse"
    (click)="isCollapsed = !isCollapsed"
  >
    <img src="assets/imgs/hamburger-menu.svg" alt="toggle navbar" />
  </button>
</div>

<div class="navbar-container" [ngbCollapse]="isCollapsed">
  <div class="sidenav__wrapper">
    <div class="logo__wrapper mobile-logo mobile-logo-header-padding">
      <a (click)="isCollapsed = !isCollapsed" class="close-btn"
        ><img src="assets/imgs/leftnav-close.svg" alt="close"
      /></a>
      <img
        class="logo"
        src="assets/imgs/matilda-logo.svg"
        alt=""
        class="matilda-logo"
      />
      <span class="matilda-text common-text">matilda</span>
    </div>

    <mat-divider></mat-divider>

    <div
      class="logo__wrapper active-module active-module-extra"
      (click)="
        isMigrateCollapsed = !isMigrateCollapsed;
        hubSelected = false;
        templateSelected = false;
        workflowSelected = false
      "
      [ngStyle]="addFocusColor(isMigrateCollapsed)"
    >
      <img
        class="migrate-logo logo-extra"
        src="assets/imgs/group-5.svg"
        alt=""
      />
      <div
        class="migrate-section"
        [ngStyle]="addFocusColor(isMigrateCollapsed)"
      >
        <img class="logo logo-extra" src="assets/imgs/group-5.svg" alt="" />
        <span class="menu-text white-color pos-migrate-text">Migrate</span>
        <img
          class="module-dd"
          src="assets/imgs/white-chevron-down.svg"
          alt=""
          [ngStyle]="rotateOnClick(isMigrateCollapsed)"
        />
      </div>
    </div>

    <mat-divider class="divider-top"></mat-divider>

    <div [ngbCollapse]="isMigrateCollapsed">
      <div
        (click)="
          hubSelected = true; templateSelected = false; workflowSelected = false
        "
        class="logo__wrapper"
        [routerLink]="['/hub']"
        [ngStyle]="addActiveInd(hubSelected)"
      >
        <img
          class="migrate-logo icon-extra"
          [src]="
            hubSelected
              ? 'assets/imgs/white-hub.svg'
              : 'assets/imgs/blue-hub.svg'
          "
          alt=""
          [ngStyle]="isSelected(hubSelected)"
        />
        <button mat-button class="migrate-section">
          <img
            class="logo icon-extra hub-mob-icon"
            [src]="
              hubSelected
                ? 'assets/imgs/white-hub.svg'
                : 'assets/imgs/blue-hub.svg'
            "
            alt=""
            [ngStyle]="isSelected(hubSelected)"
          />
          <span
            class="menu-text top-margin-half-em"
            [ngStyle]="setActiveColor(hubSelected)"
            >Hub</span
          >
        </button>
      </div>
      <div
        (click)="
          templateSelected = true;
          hubSelected = false;
          workflowSelected = false;
          addTemplate()
        "
        class="logo__wrapper"
        [ngStyle]="addActiveInd(templateSelected)"
      >
        <img
          class="migrate-logo img-size"
          [src]="
            templateSelected
              ? 'assets/imgs/white-template.svg'
              : 'assets/imgs/blue-template.svg'
          "
          alt=""
          [ngStyle]="isSelected(templateSelected)"
        />
        <button mat-button class="migrate-section">
          <img
            class="logo img-size"
            [src]="
              templateSelected
                ? 'assets/imgs/white-template.svg'
                : 'assets/imgs/blue-template.svg'
            "
            alt=""
            [ngStyle]="isSelected(templateSelected)"
          />
          <span class="menu-text" [ngStyle]="setActiveColor(templateSelected)"
            >Template</span
          >
        </button>
      </div>
      <div
        (click)="
          workflowSelected = true;
          hubSelected = false;
          templateSelected = false;
          addWorkflow()
        "
        class="logo__wrapper"
        [ngStyle]="addActiveInd(workflowSelected)"
      >
        <img
          class="migrate-logo img-size"
          [src]="
            workflowSelected
              ? 'assets/imgs/white-workflow.svg'
              : 'assets/imgs/blue-workflow.svg'
          "
          alt=""
          [ngStyle]="workflowIsSelected()"
        />
        <button mat-button class="migrate-section">
          <img
            class="logo img-size"
            [src]="
              workflowSelected
                ? 'assets/imgs/white-workflow.svg'
                : 'assets/imgs/blue-workflow.svg'
            "
            alt=""
            [ngStyle]="workflowIsSelected()"
          />
          <span class="menu-text" [ngStyle]="setActiveColor(workflowSelected)"
            >Workflow</span
          >
        </button>
      </div>
    </div>
    <!-- remaining logos in left sidebar end -->

    <mat-divider class="divider-bottom"></mat-divider>

    <div class="logo__wrapper padding-17 logout-icon">
      <img class="logo logout-pos" src="assets/imgs/group-8.svg" alt="" />
    </div>
  </div>
</div>

<div *ngIf="!mobileDevice">
  <div class="sidenav__wrapper">
    <div class="logo__wrapper mobile-logo mobile-logo-header-padding">
      <a (click)="isCollapsed = !isCollapsed" class="close-btn"
        ><img src="assets/imgs/arrow-dark.svg" alt="close"
      /></a>
      <img
        class="logo"
        src="assets/imgs/matilda-logo.svg"
        alt=""
        class="matilda-logo"
      />
      <div class="migrate-section">
        <span class="matilda-text common-text">matilda</span>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div
      class="logo__wrapper active-module active-module-extra"
      (click)="
        isMigrateCollapsed = !isMigrateCollapsed;
        hubSelected = false;
        templateSelected = false;
        workflowSelected = false
      "
      [ngStyle]="addFocusColor(isMigrateCollapsed)"
    >
      <img
        class="migrate-logo logo-extra"
        src="assets/imgs/group-5.svg"
        alt=""
      />
      <div
        class="migrate-section"
        [ngStyle]="addFocusColor(isMigrateCollapsed)"
      >
        <img class="logo logo-extra" src="assets/imgs/group-5.svg" alt="" />
        <span class="menu-text pos-migrate-text white-color">Migrate</span>
        <img
          class="module-dd"
          src="assets/imgs/white-chevron-down.svg"
          alt=""
          [ngStyle]="rotateOnClick(isMigrateCollapsed)"
        />
      </div>
    </div>

    <mat-divider class="divider-top"></mat-divider>

    <div [ngbCollapse]="isMigrateCollapsed">
      <div
        (click)="
          hubSelected = true; templateSelected = false; workflowSelected = false
        "
        class="logo__wrapper padding-14"
        [routerLink]="['/hub']"
        [ngStyle]="addActiveInd(hubSelected)"
      >
        <img
          class="migrate-logo icon-extra"
          [src]="
            hubSelected
              ? 'assets/imgs/white-hub.svg'
              : 'assets/imgs/blue-hub.svg'
          "
          alt=""
          [ngStyle]="isSelected(hubSelected)"
        />
        <button mat-button class="migrate-section">
          <img
            class="logo icon-extra"
            [src]="
              hubSelected
                ? 'assets/imgs/white-hub.svg'
                : 'assets/imgs/blue-hub.svg'
            "
            alt=""
            [ngStyle]="isSelected(hubSelected)"
          />
          <span
            class="menu-text top-margin-half-em"
            [ngStyle]="setActiveColor(hubSelected)"
            >Hub</span
          >
        </button>
        <div *ngIf="hubSelected" class="active-bar-ind">
          <img src="assets/imgs/active-bar-ind.svg" alt="" />
        </div>
      </div>
      <div
        (click)="
          templateSelected = true;
          hubSelected = false;
          workflowSelected = false;
          addTemplate()
        "
        class="logo__wrapper padding-14"
        [ngStyle]="addActiveInd(templateSelected)"
      >
        <img
          class="migrate-logo img-size"
          [src]="
            templateSelected
              ? 'assets/imgs/white-template.svg'
              : 'assets/imgs/blue-template.svg'
          "
          alt=""
          [ngStyle]="isSelected(templateSelected)"
        />
        <button mat-button class="migrate-section">
          <img
            class="logo img-size"
            [src]="
              templateSelected
                ? 'assets/imgs/white-template.svg'
                : 'assets/imgs/blue-template.svg'
            "
            alt=""
            [ngStyle]="isSelected(templateSelected)"
          />
          <span class="menu-text" [ngStyle]="setActiveColor(templateSelected)"
            >Template</span
          >
        </button>
        <div *ngIf="templateSelected" class="active-bar-ind">
          <img src="assets/imgs/active-bar-ind.svg" alt="" />
        </div>
      </div>
      <div
        (click)="
          workflowSelected = true;
          hubSelected = false;
          templateSelected = false;
          addWorkflow()
        "
        class="logo__wrapper padding-14"
        [ngStyle]="addActiveInd(workflowSelected)"
      >
        <img
          class="migrate-logo img-size"
          [src]="
            workflowSelected
              ? 'assets/imgs/white-workflow.svg'
              : 'assets/imgs/blue-workflow.svg'
          "
          alt=""
          [ngStyle]="workflowIsSelected()"
        />
        <button mat-button class="migrate-section">
          <img
            class="logo img-size"
            [src]="
              workflowSelected
                ? 'assets/imgs/white-workflow.svg'
                : 'assets/imgs/blue-workflow.svg'
            "
            alt=""
            [ngStyle]="workflowIsSelected()"
          />
          <span class="menu-text" [ngStyle]="setActiveColor(workflowSelected)"
            >Workflow</span
          >
        </button>
        <div *ngIf="workflowSelected" class="active-bar-ind">
          <img src="assets/imgs/active-bar-ind.svg" alt="" />
        </div>
      </div>
    </div>

    <!-- remaining logos in left sidebar end -->

    <!-- <mat-divider class="divider-bottom"></mat-divider>

    <div class="logo__wrapper padding-17 logout-icon">
      <img class="logo logout-pos" src="assets/imgs/group-8.svg" alt="" />
    </div> -->
  </div>
</div>
