.sidenav__wrapper {
  width: 3.75em;
  height: 100vh;
  background: var(--primary-light);
}

.logo__wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  width: 27px;
  height: 24px;
  opacity: 0.5;
  // background-color: #ffffff;
}

.horizontal-line-break {
  position: absolute;
  margin: 0;
  top: 3.75em;
  width: 3.75em;
  background-color: #ffffff;
}

.horizontal-line-break-bottom {
  position: absolute;
  margin: 0;
  bottom: 3.75em;
  width: 3.75em;
  background-color: #ffffff;
}

.active-module {
  // display: flex;
  width: 3.75em;
  height: 3.75em;
  // background-color: #0052b6;

  .logo {
    margin: 0;
  }
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.logout-icon {
  position: absolute;
  bottom: 0;
}
