@media only screen and (max-width: 426px) {
  .navbar-toggle {
    position: absolute;
    top: 1.125em;
    left: -6px;

    .navbar-toggle-btn {
      padding: 0;
    }
  }

  .sidenav__wrapper {
    width: 35vh;
    height: 100vh;
    // height: 94vh;
    background: var(--primary-light);
  }

  .mat-divider {
    border-top-color: #fff;
  }

  .migrate-section {
    display: flex;
  }

  .migrate-logo {
    display: none;
  }

  .mobile-logo {
    flex-direction: row !important;
    align-items: center !important;

    .close-btn {
      position: absolute;
      left: 24px;
    }

    .logo {
      position: absolute;
      left: 3.625em;
    }

    .matilda-text {
      visibility: visible;
      color: #fff;
      margin-left: 2em;
      font-size: 1.5em;
    }
  }

  .menu-text {
    color: var(--dark-blue);
    font-family: LatoRegular;
    font-size: 1.125em;
    line-height: 1.375em;
    letter-spacing: 0.51px;
    margin: 2px 8em 0 14px;
  }

  .logo__wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    justify-content: center;
    align-items: flex-start;
  }

  .logo {
    display: flex;
    width: 27px;
    height: 24px;
    opacity: 0.5;
    // background-color: #ffffff;
  }

  .active-module {
    // display: flex;
    width: 3.75em;
    height: 3.75em;
    // background-color: #0052b6;

    .logo {
      margin: 0;
    }
    &:active {
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }

  .logout-icon {
    position: absolute;
    bottom: 0;
  }
}

@media only screen and (min-width: 427px) {
  .navbar-toggle {
    display: none;
  }

  .close-btn {
    display: none;
  }

  .mobile-logo {
    display: none;
  }

  .sidenav__wrapper {
    width: 3.75em;
    transition: width 0.1s;
    // width: 13.875em;
    height: 100vh;
    background: var(--primary-light);
  }

  .mat-divider {
    border-top-color: #fff;
  }

  .migrate-section {
    display: none;
  }

  .matilda-text {
    display: none;
  }

  .sidenav__wrapper:hover {
    width: 13.875em;

    .migrate-logo {
      display: none;
    }

    .migrate-section {
      display: flex;
    }
  }

  .menu-text {
    color: var(--dark-blue);
    font-family: LatoRegular;
    font-size: 1.125em;
    line-height: 1.375em;
    letter-spacing: 0.51px;
    margin: 2px 4.375em 0 14px;
  }

  .logo__wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    justify-content: center;
    align-items: flex-start;
  }

  .logo {
    display: flex;
    width: 27px;
    height: 24px;
    opacity: 0.5;
    // background-color: #ffffff;
  }

  .active-module {
    // display: flex;
    width: 3.75em;
    height: 3.75em;
    // background-color: #0052b6;

    .logo {
      margin: 0;
    }
    &:active {
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }

  .logout-icon {
    position: absolute;
    bottom: 0;
  }
}
