.output-container {
	max-height: 23vh !important;
	display: flex !important;
	flex-wrap: wrap !important;
	overflow-x: auto; 
	overflow-y: auto;
}
.card-item {
	width: 97%;
	border-radius: 4px;
	border: 1px solid white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	border-left: 3px solid var(--primary-light);
}

.badge-custom {
	background: var(--light-gray-bg);
	border: solid 1px #006bd4;
	font-size: 0.875em;
	//word-break: break-all !important;
	// margin-right: 6px;
	font-family: LatoSemiBold;
	color: var(--blackish-text);
}

.badge-key-value {
	font-family: LatoSemiBold;
	color: #006bd4;
	word-break: break-all !important;
}



