<div class="modal-body">
  <!-- modal body -->
  <mat-tab-group [@.disabled]="true">
    <mat-tab label="General">
      <app-task-general-config [task]="task" (taskGeneralConfig)="taskGeneralConfig($event)" (closeWindow)="closeWindow($event)"></app-task-general-config>
    </mat-tab>
    <mat-tab label="Input">
      <app-task-input [task]="task" [dataSource]="pluginFields" (saveConfig)="saveConfig($event)" (closeWidget)="closeWindow($event)"></app-task-input>
    </mat-tab>
    <mat-tab label="Output">
      <app-task-output></app-task-output>
    </mat-tab>
    <mat-tab label="TemplateFormat">    
        <app-edit-task-template [task]="task" (taskTemplateFormat)="taskTemplateFormat($event)" (closeWindow)="closeWindow($event)"></app-edit-task-template>       
    </mat-tab>
  </mat-tab-group>  
  <!-- end of modal body -->
</div>