<div class="modal-body">
  <!-- modal body -->
  <mat-tab-group [@.disabled]="true">
    <mat-tab label="General">
      <app-task-general-config [task]="task" (taskGeneralConfig)="taskGeneralConfig($event)" (closeWindow)="closeWindow($event)"></app-task-general-config>
    </mat-tab>
    <mat-tab label="Input">
      <app-task-input [task]="task" [dataSource]="pluginFields" (saveConfig)="saveConfig($event)" (closeWidget)="closeWindow($event)"></app-task-input>
    </mat-tab>
    <mat-tab label="Output">
      <app-task-output></app-task-output>
    </mat-tab>
    <mat-tab label="TemplateFormat">
      <form [formGroup]="fourthFormGroup" class="set-margin-top">
        <app-edit-task-template></app-edit-task-template>
      </form>     
    </mat-tab>
  </mat-tab-group>  
  <!-- end of modal body -->
</div>
<div
[ngClass]="{
  'modal-footer-mobile': isMobile,
  'modal-footer': !isMobile
}"
class="footer-styles-2"
>
<div class="import-btns-1">
  <button
    mat-flat-button
    color="primary"
    (click)="saveTask()"
    cdkFocusInitial
  >
    Save
  </button>
  <button
    mat-button
    color="primary"
    (click)="closeTask()"
    class="left-margin-1em"
  >
    Cancel
  </button>
</div>
</div>