.set-margin-top {
  margin-top: 24px;
}

::ng-deep.modal-body {
  padding: 0 !important;
}

// .example-full-width {
//   width: 100%;
// }

// .example-half-width {
//   width: 50%;
// }

mat-form-field {
  // padding: 10px;
  padding: 5px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
}

.mat-tab-label .mat-tab-label-content {
  font-family: LatoMedium;
  font-size: 0.875rem;
  line-height: 1.063rem;
  letter-spacing: 0.41px;
}
