::ng-deep.modal-body {
  padding: 0 !important;
}

.example-full-width {
  width: 100%;
}

.example-half-width {
  width: 50%;
}

mat-form-field {
  padding: 10px;
}

.mat-tab-label .mat-tab-label-content {
  font-family: LatoMedium;
  font-size: 0.9rem;
  line-height: 1.063rem;
  letter-spacing: 0.41px;
}
