@font-face {
  font-family: "LatoRegular";
  src: url("assets/fonts/LatoRegular.eot"),
    url("assets/fonts/LatoRegular.woff2") format("woff2"),
    url("assets/fonts/LatoRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoMedium";
  src: url("assets/fonts/Lato-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoSemiBold";
  src: url("assets/fonts/Lato-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoBold";
  src: url("assets/fonts/LatoBold.eot"),
    url("assets/fonts/LatoBold.woff2") format("woff2"),
    url("assets/fonts/LatoBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-light: #006bd4;
  --primary-light-bg: #f0f6fd;
  --dark-blue: #012b7a;
  --light-blue-bg: #f0f6fd;
  --blackish-text: #1e1e1e;
  --light-gray-bg: #f9f9fa;
  --lighter-gray-bg: #eceeef;
  --grayed-text: #adb4ba;
  --alt-gray-text: #99a1a9;
  --grayed-border: #dfe2e4;
  --btn-gray-border: #aeb5bb;
  --btn-lightgray-border: #dee1e4;
  --faded-bg-when-sidebar-expanded: rgba(30, 30, 30, 0.6);
}

// remove black outline on click chrome v83 bug
*:focus {
  outline: 0px transparent !important;
}

button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

body {
  margin: 0 auto;
  font-family: "LatoRegular";
  //   overflow-x: hidden;
  overflow: hidden;
  // transition: all 0.3s ease;
  user-select: none;
}

input::placeholder {
  color: #cecece;
}

//unstyle a tags
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

// remove caret from dropdown
.dropdown-toggle::after {
  display: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer-cursor {
  cursor: pointer;
}

.common-text {
  font-family: LatoRegular;
  font-size: 1.125em;
  line-height: 1.375em;
  letter-spacing: 0.51px;
  color: #000;
}

.medium-text {
  font-family: LatoMedium;
  font-size: 0.9em;
  line-height: 1.063em;
  letter-spacing: 0.41px;
  color: var(--blackish-text);
}

.bold-text {
  font-family: LatoBold;
  font-size: 1.406em;
  line-height: 1.688em;
  letter-spacing: 0.64px;
  color: #000;
}

.full-width {
  width: 100%;
}
// custom positions
.left-24 {
  position: absolute;
  left: 24px;
}

.relative-top-14 {
  position: relative;
  top: 14px;
}
// end of custom positions

// custom margins
.margin-t24-b4 {
  margin: 24px 0 4px 0;
}

.bottom-margin-24 {
  margin-bottom: 24px;
}

.left-margin-1em {
  margin-left: 1em;
}
// end of custom margins

// custom paddings
.padding-t12-b12 {
  padding: 12px 0 12px 0;
}

.left-padding-24 {
  padding-left: 24px;
}

.bottom-padding-12 {
  padding-bottom: 12px;
}
// end of custom paddings

// misc common styles
// end of misc common styles
