@font-face {
  font-family: "LatoRegular";
  src: url("assets/fonts/LatoRegular.eot"),
    url("assets/fonts/LatoRegular.woff2") format("woff2"),
    url("assets/fonts/LatoRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoMedium";
  src: url("assets/fonts/Lato-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoSemiBold";
  src: url("assets/fonts/Lato-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoBold";
  src: url("assets/fonts/LatoBold.eot"),
    url("assets/fonts/LatoBold.woff2") format("woff2"),
    url("assets/fonts/LatoBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-light: #006bd4;
  --primary-light-bg: #f0f6fd;
  --dark-blue: #012b7a;
  --light-blue-bg: #f0f6fd;
  --blackish-text: #1e1e1e;
  --light-gray-bg: #f9f9fa;
  --lighter-gray-bg: #eceeef;
  --grayed-text: #adb4ba;
  --alt-gray-text: #99a1a9;
  --grayed-border: #dfe2e4;
  --btn-gray-border: #aeb5bb;
  --btn-lightgray-border: #dee1e4;
  --faded-bg-when-sidebar-expanded: rgba(30, 30, 30, 0.6);
}

// remove black outline on click chrome v83 bug
*:focus {
  outline: 0px transparent !important;
}

button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

body {
  margin: 0 auto;
  font-family: "LatoRegular";
  overflow-x: hidden;
  // overflow: hidden;
  // transition: all 0.3s ease;
  user-select: none;
}

input::placeholder {
  color: #cecece;
}

//unstyle a tags
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

// remove caret from dropdown
.dropdown-toggle::after {
  display: none;
}

html,
body {
  height: 100%;
  // overflow-y: scroll;
}
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-lay {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer-cursor {
  cursor: pointer;
}

.move-cursor {
  cursor: move;
}

.common-text {
  font-family: LatoRegular;
  font-size: 0.875em;
  line-height: 1.375em;
  letter-spacing: 0.51px;
  color: #000;
}

.medium-text {
  font-family: LatoMedium;
  font-size: 0.875em;
  line-height: 1.063em;
  letter-spacing: 0.41px;
  color: var(--blackish-text);
}

.common-text-mobile {
  font-family: LatoRegular;
  font-size: 0.875rem;
  letter-spacing: 0.4px;
  color: #000;
}

.medium-text-mobile {
  font-family: LatoMedium;
  font-size: 0.875rem;
  letter-spacing: 0.4px;
  color: var(--blackish-text);
}

.bold-text {
  font-family: LatoBold;
  font-size: 1.25em;
  line-height: 1.688em;
  letter-spacing: 0.64px;
  color: #000;
}

.full-width {
  width: 100%;
}
// custom positions
.left-24-top-1em {
  position: absolute;
  left: 24px;
  top: 1rem;
}

.relative-top-14 {
  position: relative;
  top: 14px;
}

.relative-top-10 {
  position: relative;
  top: 10px;
}

.relative-top-5 {
  position: relative;
  top: 5px;
}

.relative-bottom-4 {
  position: relative;
  bottom: 4px;
}
// end of custom positions

// custom margins
.top-margin-24 {
  margin-top: 24px;
}

.top-margin-half-em {
  margin-top: 0.5em !important;
}

.top-margin-1em {
  margin-top: 1em !important;
}

.margin-t24-b4 {
  margin: 24px 0 4px 0;
}

.bottom-margin-1em {
  margin-bottom: 1em;
}

.bottom-margin-24 {
  margin-bottom: 24px;
}

.left-margin-20 {
  margin-left: 20px !important;
}

.left-margin-1em {
  margin-left: 1em;
}

.left-margin-1vw {
  margin-left: 1vw !important;
}

.right-margin-8 {
  margin-right: 8px !important;
}
// end of custom margins

// custom paddings
.flex-padding-r-2 {
  display: flex;
  padding-right: 2em;
}

.flex-padding-r-4 {
  display: flex;
  padding-right: 3.9em;
}

.lr-padding-8 {
  padding: 0 8px 0 8px;
}

.padding-14 {
  padding: 14px !important;
}

.padding-17 {
  padding: 17px !important;
}

.padding-t12-b12 {
  padding: 12px 0 12px 0;
}

.left-padding-24 {
  padding-left: 24px;
}

.bottom-padding-12 {
  padding-bottom: 12px;
}
// end of custom paddings

// misc common styles
.back-not-hover {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  height: 56px;
  width: 56px;
  margin: auto 0;
  position: relative !important;
  top: 18px !important;
}
// end of misc common styles

.task-config {
  max-height: 56vh;
  overflow-y: auto;
  overflow-x: auto;
}

.custom-scrollbar-small::-webkit-scrollbar {
	width: 1px !important;
	height: 1px !important;
}

.custom-scrollbar-small::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0.5px rgba(0, 0, 0, 0.3) !important;
	border-radius: 0.5px !important;
}

.custom-scrollbar-small::-webkit-scrollbar-thumb {
	border-radius: 0.5px !important;
	-webkit-box-shadow: inset 0 0 0.5px rgba(0,0,0,0.6) !important;
	background-color: rgba(30, 30, 30, 0.6) !important;
}

.custom-scrollbar-medium::-webkit-scrollbar {
  width: 3px !important;
  height: 6px !important;
 
}

.custom-scrollbar-medium::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.6) !important;
  border-radius: 10px !important;
}

.custom-scrollbar-medium::-webkit-scrollbar-thumb {
  border-radius: 3px !important;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3) !important;
  background-color: #E0E0E0 !important;
}

