<div>
  <span class="stage-tags"
    >Workflow Type<span class="align-workflow-colon">:</span></span
  >
  <mat-form-field id="workflow-select-field" class="workflow-type-dd">
    <mat-select
      [(ngModel)]="selectedWorkflowType"
      (ngModelChange)="getWorkflowType()"
    >
      <mat-option
        id="wf-option"
        *ngFor="let wType of workflowTypes"
        [value]="wType.value"
        (click)="optionClicked(wType.value)"
      >
        {{ wType.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="collapse-container">
  <span class="stage-action-collapse-text">Collapse All</span
  ><mat-slide-toggle
    (change)="collapseAll($event.checked)"
    [color]="primaryColor"
  ></mat-slide-toggle>
</div>

<div class="right-align-searchbox">
  <form id="search-form">
    <mat-form-field
      id="mat-search"
      floatLabel="never"
      class="mat-typography full-width"
    >
      <img
        matPrefix
        src="assets/imgs/search-2.svg"
        alt="search-icon"
        class="new-search-icon"
      />
      <input
        matInput
        placeholder="Search"
        type="search"
        name="test"
        [(ngModel)]="searchKey"
      />
    </mat-form-field>
  </form>
</div>

<div class="drag-drop-parent">
  <div
    cdkDropList
    [cdkDropListData]="waveData.groups"
    (cdkDropListDropped)="dropGroup($event)"
  >
    <div
      class="templates__inner__wrapper"
      *ngFor="
        let waveType of waveData.groups | nestedWorkflowSearch: searchKey;
        let i = index
      "
      cdkDropListGroup
      cdkDrag
      [cdkDragData]="waveType"
    >
      <!-- template list strats -->
      <div class="template-list-wrapper">
        <div>
          <div
            id="stage-header"
            class="template__row"
            [ngStyle]="toggleWorkflowHeight(groupCollapseList[i])"
          >
            <div class="template-name">
              <div class="group-drag" [ngClass]="{ 'do-not-show': !drag }">
                <img
                  class="move-cursor"
                  src="assets/imgs/dragIcon-2.svg"
                  alt=""
                />
              </div>
              <div
                [ngClass]="{ collapsed: groupCollapseList[i] }"
                class="accordian"
              >
                <img
                  [ngClass]="{
                    'accordian-icon-collapsed': groupCollapseList[i],
                    'accordian-icon': !groupCollapseList[i]
                  }"
                  src="assets/imgs/chevron-down.svg"
                  alt=""
                  (click)="groupCollapseList[i] = !groupCollapseList[i]"
                />
              </div>
              <!-- group level actions ends -->
              <div class="group-name-wrapper">
                <div class="group-name common-text">
                  <input
                    class="description-styles"
                    (click)="$event.target.select()"
                    (focus)="onFocusTitle()"
                    (keydown.enter)="
                      $event.preventDefault() && updateGroupTitle(); $event.target.blur()
                    "
                    (blur)="updateGroupTitle()"
                    [(ngModel)]="newGroupTitle ? newGroupTitle : waveType.name"
                  />
                </div>
              </div>
            </div>
            <div
              [ngClass]="{
                'list-right-menu-collapsed': groupCollapseList[i],
                'list-right-menu': !groupCollapseList[i]
              }"
            >
              <div
                *ngIf="!(isMobile && groupCollapseList[i])"
                class="flex-padding-r-2"
                [ngClass]="{
                  'flex-padding-r-4': isMobile && !groupCollapseList[i]
                }"
              >
                <span class="status-text">Status: </span>
                <span
                  class="badge badge-pill badge-custom"
                  [ngStyle]="setBadgeBgColor(waveType.statusCode)"
                  >{{ statusCodes[waveType.statusCode] }}</span
                >
              </div>
              <div
                *ngIf="!(isMobile && groupCollapseList[i])"
                class="flex-padding-r-2"
                [ngClass]="{
                  'flex-padding-r-4': isMobile && !groupCollapseList[i]
                }"
              >
                <span class="status-text">Progress: </span>
                <mat-progress-bar
                  class="list-progress-bar"
                  value="{{ waveType.progress }}"
                ></mat-progress-bar>
                <span
                  [ngClass]="{
                    'medium-text-mobile': isMobile,
                    'medium-text': !isMobile
                  }"
                  class="list-percent-text"
                  >{{ waveType.progress }} %</span
                >
              </div>
            </div>

            <img
              [ngClass]="{
                'stage-option-collapsed': groupCollapseList[i],
                'stage-option': !groupCollapseList[i]
              }"
              src="assets/imgs/vEllipsis.svg"
              alt="stage-options"
            />

            <div *ngIf="!groupCollapseList[i]" class="stage-list-subheader">
              <div class="stage-name-width">
                <span class="medium-text list-header-text">Name</span>
              </div>
              <div class="flex-lay">
                <div *ngIf="!isMobile" class="cell-width">
                  <span class="medium-text list-header-text">Status</span>
                </div>
                <div *ngIf="!isMobile" class="cell-width">
                  <span class="medium-text list-header-text">Progress</span>
                </div>
                <button
                  class="stage-btn"
                  mat-button
                  [matMenuTriggerFor]="stageDropdown"
                >
                  <img src="assets/imgs/vEllipsis.svg" alt="Stage Settings" />
                </button>
                <mat-menu
                  id="stage-dd"
                  #stageDropdown="matMenu"
                  xPosition="before"
                  yPosition="below"
                >
                  <div class="service-menu">
                    <mat-checkbox (click)="onCheck($event)"
                      >Service</mat-checkbox
                    >
                    <mat-checkbox (click)="onCheck($event)"
                      >Action</mat-checkbox
                    >
                  </div>
                </mat-menu>
              </div>
            </div>
          </div>
          <!-- cdkdroplist for template re ordering among and across groups -->
          <div
            *ngIf="!groupCollapseList[i] && waveData.groups"
            cdkDropList
            id="{{ waveType.id }}"
            [cdkDropListData]="waveType.items"
            (cdkDropListDropped)="drop($event)"
            [cdkDropListConnectedTo]="getConnectedList()"
          >
            <div
              class="row-items template__row item"
              [ngClass]="{ selected: template.selected }"
              (click)="rowClick(template)"
              *ngFor="let template of waveType.items"
              cdkDrag
            >
              <div class="template-name">
                <div class="border-white template-name-main">
                  <span class="cell-text common-text">{{ template.name }}</span>
                </div>
              </div>
              <div class="flex-lay">
                <div
                  *ngIf="!isMobile"
                  class="border-white template-status"
                  [ngClass]="getStatusClass(template)"
                  (mouseleave)="template.showStatus = false"
                  (click)="showStatuses($event, template)"
                >
                  <span
                    class="badge badge-pill badge-custom"
                    [ngStyle]="setBadgeBgColor(template.statusCode)"
                    >{{ statusCodes[template.statusCode] }}</span
                  >
                  <!-- template status start -->
                  <div class="status-dropdown">
                    <div
                      (click)="changeStatus(template, 'Working on it')"
                      class="status__list__item status-yellow"
                    >
                      Working on it
                    </div>
                    <div
                      (click)="changeStatus(template, 'Done')"
                      class="status__list__item status-green"
                    >
                      Done
                    </div>
                    <div
                      (click)="changeStatus(template, 'Stuck')"
                      class="status__list__item status-red"
                    >
                      Stuck
                    </div>
                    <div
                      (click)="changeStatus(template, '')"
                      class="status__list__item"
                    ></div>
                  </div>
                  <!-- template status end -->
                </div>
                <div *ngIf="!isMobile" class="flex-center left-margin-1vw">
                  <mat-progress-bar
                    class="list-item-progress-bar"
                    value="{{ template.progress }}"
                  ></mat-progress-bar>
                  <span class="list-percent-text"
                    >{{ template.progress }} %</span
                  >
                </div>
                <div class="right-options">
                  <a (click)="removeTemplate(waveType, template.id)">
                    <img
                      class="set-margin-right"
                      src="assets/imgs/delete.svg"
                      alt="delete"
                    />
                  </a>
                  <a (click)="templateSettings(waveType, template.id, $event)">
                    <img src="assets/imgs/vEllipsis.svg" alt="settings" />
                  </a>
                </div>
              </div>
            </div>
            <!-- <div class="template__row item editor-row"> -->
            <div class="template__row item row-items">
              <!-- add new template start -->
              <div class="template-name">
                <span
                  class="common-text add-new-text"
                  (click)="addTemplate(waveType)"
                  >+ Add New Template</span
                >
              </div>
              <!-- add new template end -->
            </div>
          </div>
        </div>
      </div>

      <!-- template list ends -->
    </div>
  </div>
</div>
