<div>
  <span class="stage-tags"
    >Workflow Type<span class="align-workflow-colon">:</span></span
  >
  <mat-form-field id="workflow-select-field" class="workflow-type-dd">
    <mat-select
      [(ngModel)]="selectedWorkflowType"
      (ngModelChange)="getWorkflowType()"
    >
      <mat-option
        id="wf-option"
        *ngFor="let wType of workflowTypes"
        [value]="wType.value"
      >
        {{ wType.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="collapse-container">
  <span class="stage-action-collapse-text">Collapse All</span
  ><mat-slide-toggle
    (change)="collapseAll($event.checked)"
    disableRipple="true"
    [color]="primaryColor"
  ></mat-slide-toggle>
</div>

<div class="right-align-searchbox">
  <form id="search-form">
    <mat-form-field
      id="mat-search"
      floatLabel="never"
      class="mat-typography full-width"
    >
      <img
        matPrefix
        src="assets/imgs/search-2.svg"
        alt="search-icon"
        class="new-search-icon"
      />
      <input
        matInput
        placeholder="Search"
        type="search"
        (keyup)="search($event)"
        name="test"
        [(ngModel)]="searchKey"
      />
    </mat-form-field>
  </form>
</div>

<div class="drag-drop-parent">
  <div
    cdkDropList
    [cdkDropListData]="waveData.data.waveTypes"
    (cdkDropListDropped)="dropGroup($event)"
  >
    <!-- <div
      class="templates__inner__wrapper"
      *ngFor="let stage of waves | search: stage.searchKey; let i = index"
      cdkDropListGroup
      cdkDrag
      [cdkDragData]="stage"
    > -->
    <div
      class="templates__inner__wrapper"
      *ngFor="let waveType of waveData.data.waveTypes; let i = index"
      cdkDropListGroup
      cdkDrag
      [cdkDragData]="waveType"
    >
      <!-- template list strats -->
      <div class="template-list-wrapper">
        <div>
          <div id="stage-header" class="template__row">
            <div class="template-name">
              <div
                class="group-drag"
                [ngClass]="{ 'do-not-show': !waveType.drag }"
              >
                <img
                  class="move-cursor"
                  src="assets/imgs/dragIcon-2.svg"
                  alt=""
                />
              </div>
              <!-- <div
                [ngClass]="{ collapsed: waveType.collapsed }"
                (click)="openGroupLevelActions(waveType)"
                class="accordian"
              > -->
              <div
                [ngClass]="{ collapsed: waveType.collapsed }"
                class="accordian"
              >
                <img
                  class="accordian-icon"
                  src="assets/imgs/chevron-down.svg"
                  alt=""
                  (click)="waveType.collapsed = !waveType.collapsed"
                />
                <!-- <div class="group-level-actions">
                  <div
                    (click)="waveType.collapsed = true"
                    *ngIf="!waveType.collapsed"
                  >
                    Collapse
                  </div>
                  <div
                    (click)="waveType.collapsed = false"
                    *ngIf="waveType.collapsed"
                  >
                    Expand
                  </div>
                  <div (click)="deleteGroup(waveType)">Delete</div>
                </div> -->
              </div>
              <!-- group level actions ends -->

              <div
                class="group-name-wrapper"
                (mouseenter)="groupNameEnter(waveType)"
                (mouseleave)="waveType.edit = false"
              >
                <div class="group-name common-text">
                  {{ waveType.name }}
                </div>
              </div>
            </div>
            <div *ngIf="!waveType.collapsed" class="status-section">
              <span class="status-text">Status: </span>
              <span
                class="badge badge-pill badge-custom"
                [ngStyle]="setBadgeBgColor(waveType.status)"
                >{{ waveType.status }}</span
              >
            </div>
            <div *ngIf="!waveType.collapsed" class="progress-section">
              <span class="status-text">Progress: </span>
              <mat-progress-bar
                class="list-progress-bar"
                value="{{ waveType.progressPercentage }}"
              ></mat-progress-bar>
              <span class="list-percent-text"
                >{{ waveType.progressPercentage }} %</span
              >
            </div>
            <img
              class="stage-option"
              src="assets/imgs/vEllipsis.svg"
              alt="stage-options"
            />

            <div *ngIf="!waveType.collapsed" class="stage-list-subheader">
              <div class="stage-name-width">
                <span class="medium-text list-header-text">Name</span>
              </div>
              <div class="flex-lay">
                <!-- <div
                  class="cell-width"
                  *ngIf="getWorkflowType() === 'time'"
                >
                  <span
                    class="medium-text list-header-text"
                    >Start Date</span
                  >
                </div>
                <div
                  class="cell-width"
                  *ngIf="getWorkflowType() === 'time'"
                >
                  <span
                    class="medium-text list-header-text"
                    >End Date</span
                  >
                </div>
                <div
                  class="cell-width"
                  *ngIf="getWorkflowType() === 'trigger'"
                >
                  <span
                    class="medium-text list-header-text"
                    >Trigger</span
                  >
                </div> -->
                <div *ngIf="!isMobile" class="cell-width">
                  <span class="medium-text list-header-text">Status</span>
                </div>
                <div *ngIf="!isMobile" class="cell-width">
                  <span class="medium-text list-header-text">Progress</span>
                </div>
                <button
                  class="stage-btn"
                  mat-button
                  [matMenuTriggerFor]="stageDropdown"
                >
                  <img src="assets/imgs/vEllipsis.svg" alt="Stage Settings" />
                </button>
                <mat-menu
                  id="stage-dd"
                  #stageDropdown="matMenu"
                  xPosition="before"
                  yPosition="below"
                >
                  <div class="service-menu">
                    <mat-checkbox (click)="onCheck($event)"
                      >Service</mat-checkbox
                    >
                    <mat-checkbox (click)="onCheck($event)"
                      >Action</mat-checkbox
                    >
                  </div>
                </mat-menu>
              </div>
            </div>
          </div>
          <!-- cdkdroplist for template re ordering among and across groups -->
          <div
            *ngIf="!waveType.collapsed && waveData.data.waveTypes"
            cdkDropList
            id="{{ waveType.id }}"
            [cdkDropListData]="waveType.templates"
            (cdkDropListDropped)="drop($event)"
            [cdkDropListConnectedTo]="getConnectedList()"
          >
            <div
              class="row-items template__row item"
              [ngClass]="{ selected: template.selected }"
              (click)="rowClick(template)"
              *ngFor="let template of waveType.templates"
              cdkDrag
            >
              <div class="template-name">
                <!-- template level actions starts -->
                <!-- <div class="row-starter">
                  <div (click)="$event.stopPropagation()" class="accordian">
                    <img src="assets/imgs/chevron-down.svg" alt="" />
                    <div class="group-level-actions">
                      <div (click)="deleteTemplate(waveType, template)">
                        Delete
                      </div>
                    </div>
                  </div>
                </div> -->
                <!-- template level actions starts -->

                <!-- <div class="grid-start-line border-white"></div> -->
                <div class="border-white template-name-main">
                  <span class="cell-text common-text">{{ template.name }}</span>
                </div>
              </div>
              <div class="flex-lay">
                <!-- <div
                  class="flex-center plugin-val"
                >
                  <span class="cell-text common-text">{{
                    template.plugin
                  }}</span>
                </div>
                <div
                  *ngIf="getWorkflowType() === 'time'"
                  class="border-white template-start flex-center left-margin-20"
                >
                  <span class="cell-text common-text">{{
                    template.startDate
                  }}</span>
                </div>
                <div
                  *ngIf="getWorkflowType() === 'time'"
                  class="border-white template-end flex-center"
                >
                  <span class="cell-text common-text">{{
                    template.endDate
                  }}</span>
                </div>
                <div
                  *ngIf="getWorkflowType() === 'trigger'"
                  class="border-white template-end flex-center"
                >
                  <span class="cell-text common-text">{{
                    template.trigger
                  }}</span>
                </div> -->
                <div
                  *ngIf="!isMobile"
                  class="border-white template-status"
                  [ngClass]="getStatusClass(template)"
                  (mouseleave)="template.showStatus = false"
                  (click)="showStatuses($event, template)"
                >
                  <span
                    class="badge badge-pill badge-custom"
                    [ngStyle]="setBadgeBgColor(template.status)"
                    >{{ template.status }}</span
                  >
                  <!-- template status start -->
                  <div class="status-dropdown">
                    <div
                      (click)="changeStatus(template, 'Working on it')"
                      class="status__list__item status-yellow"
                    >
                      Working on it
                    </div>
                    <div
                      (click)="changeStatus(template, 'Done')"
                      class="status__list__item status-green"
                    >
                      Done
                    </div>
                    <div
                      (click)="changeStatus(template, 'Stuck')"
                      class="status__list__item status-red"
                    >
                      Stuck
                    </div>
                    <div
                      (click)="changeStatus(template, '')"
                      class="status__list__item"
                    ></div>
                  </div>
                  <!-- template status end -->
                </div>
                <div *ngIf="!isMobile" class="flex-center left-margin-1vw">
                  <mat-progress-bar
                    class="list-item-progress-bar"
                    value="{{ template.progressPercentage }}"
                  ></mat-progress-bar>
                  <span class="list-percent-text"
                    >{{ template.progressPercentage }} %</span
                  >
                </div>
                <div class="right-options">
                  <img
                    class="set-margin-right"
                    src="assets/imgs/delete.svg"
                    alt="delete"
                  />
                  <img src="assets/imgs/vEllipsis.svg" alt="settings" />
                </div>
              </div>
            </div>
            <!-- <div class="template__row item editor-row"> -->
            <div class="template__row item row-items">
              <!-- add new template start -->
              <div class="template-name">
                <!-- <div class="row-starter"></div>
                <div class="grid-start-line border-white"></div> -->
                <!-- <div class="border-white template-name-main">
                  <input
                    (focus)="stage.showAdd = true"
                    (focusout)="inputFocusOut($event, stage)"
                    class="template-add"
                    (keydown.enter)="openDialog(addTaskModal)"
                    [(ngModel)]="stage.newTemplate"
                    type="text"
                    placeholder="+ Add"
                  />
                </div>
                <div
                  *ngIf="stage.showAdd"
                  (click)="openDialog(addTaskModal)"
                  class="template-add-button"
                >
                  Add
                </div> -->
                <span
                  class="common-text add-new-text"
                  (click)="openDialog(addTemplateModal)"
                  >+ Add New Template</span
                >
              </div>
              <!-- add new template end -->
            </div>
          </div>
        </div>
      </div>

      <!-- template list ends -->
    </div>
  </div>
</div>

<ng-template #addTemplateModal>
  <div class="modal-header">
    <h4 class="pull-left">Create New Template</h4>
  </div>
  <div class="modal-body">
    <!-- modal body -->
    <!-- end of modal body -->
  </div>
  <div class="modal-footer">
    <mat-dialog-actions>
      <button mat-flat-button (click)="dialog.closeAll()">Cancel</button>
      <button
        mat-flat-button
        color="primary"
        (click)="dialog.closeAll()"
        cdkFocusInitial
      >
        Create
      </button>
    </mat-dialog-actions>
  </div>
</ng-template>
