.discover-container {
  margin: 0 2.5em 0 1.5em;
}

.discover-header {
  height: 80px; //118px
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--grayed-border);
}

.discover-header-text {
  font-family: LatoSemiBold !important;
  position: absolute;
  left: 6.375rem;
}

.discover-searchbox {
  width: 23.813em !important;
  position: absolute;
  top: 9px;
  left: 16.375rem;
}

#mat-search ::ng-deep .mat-form-field-underline {
  background-color: var(--btn-lightgray-border);
}

.new-search-icon {
  position: relative;
  bottom: 2px;
  padding-right: 0.5em;
}

.discover-content {
  margin-top: 1.5rem;
}

mat-card {
  cursor: pointer;
  height: 4rem;
  border: solid 1px var(--grayed-border);
  border-left: solid 4px var(--light-blue) !important;
  box-shadow: 2px 3px var(--btn-gray-border) !important;
}

.pos-card-title {
  position: absolute;
  top: 8px;
  color: var(--primary-light);
}

.pos-subtitle {
  position: absolute;
  top: 2.5rem;

  font-size: 1rem !important;
  color: var(--alt-gray-text);
}

.pos-src-subtitle {
  position: absolute;
  top: 2.5rem;
  margin-left: 22rem;
  font-size: 1rem !important;
  color: var(--alt-gray-text);
}
