<div class="discover-container">
  <div class="discover-header">
    <div
      (click)="goBack()"
      (mouseover)="imgHovered = true"
      (mouseleave)="imgHovered = false"
      class="back-icon pointer-cursor"
      [ngClass]="{ 'back-not-hover': !imgHovered }"
    >
      <img
        [src]="
          imgHovered
            ? 'assets/imgs/back-icon.svg'
            : 'assets/imgs/chevron-down.svg'
        "
        alt="back"
      />
    </div>

    <span class="discover-header-text bold-text">Discover</span>

    <div class="discover-searchbox">
      <form>
        <mat-form-field
          id="mat-search"
          floatLabel="never"
          class="mat-typography full-width"
        >
          <img
            matPrefix
            src="assets/imgs/search-2.svg"
            alt="search-icon"
            class="new-search-icon"
          />
          <input
            matInput
            placeholder="Search Application"
            type="search"
            name="test"
            [(ngModel)]="searchKey"
          />
        </mat-form-field>
      </form>
    </div>
  </div>
  <div>
    <div *ngIf="!accountClicked" class="account-res">
      <mat-card
        class="top-margin-1em"
        *ngFor="let app of apps | search: searchKey"
        (click)="showAppDetails(app.id)"
      >
        <mat-card-title-group>
          <mat-card-title
            ><span class="common-text pos-card-title">{{
              app.name
            }}</span></mat-card-title
          >
          <mat-card-subtitle>
            <span
              class="medium-text pos-subtitle"
              *ngIf="app.IP.length > 2; else lessIP"
              >{{ app.IP[0].address }}, {{ app.IP[1].address }} and
              {{ app.IP.length - 2 }} more</span
            >
            <ng-template #lessIP>
              <span class="medium-text pos-subtitle" *ngIf="app.IP.length <= 2"
                >{{ app.IP[0].address }}, {{ app.IP[1].address }}</span
              >
            </ng-template>
            <span
              class="medium-text pos-src-subtitle"
              *ngIf="app.sources.length > 2; else lessSources"
              >Sources: {{ app.sources[0].name }}, {{ app.sources[1].name }} and
              {{ app.sources.length - 2 }} more</span
            >
            <ng-template #lessSources>
              <span
                class="medium-text pos-src-subtitle"
                *ngIf="app.sources.length <= 2"
                >Sources: {{ app.sources[0].name }},
                {{ app.sources[1].name }}</span
              >
            </ng-template>
          </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card>
    </div>

    <div *ngIf="selectedApp && accountClicked" class="acc-search-container">
      <div class="selected-app-header">
        <div class="right-margin-12-half-rem">
          <span class="common-text">Application</span>
          <span class="common-text pad-colon">:</span>
          <span class="common-text make-it-blue">{{ selectedApp.name }}</span>
        </div>

        <span class="common-text">IP</span>
        <span class="common-text pad-colon">:</span>
        <mat-form-field id="ip-select-field" class="ip-dd">
          <mat-select [(ngModel)]="selectedIPAddress" (ngModelChange)="getIP()">
            <mat-option
              id="ip-option"
              *ngFor="let ip of selectedApp.IP"
              [value]="ip.address"
              (click)="changeIP(ip.address)"
            >
              {{ ip.address }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
